<% content_for :breadcrumb_extras do %>
  <ol class="options cf">
    <%= link_to "<span class='icons'>C</span> New Template".html_safe, new_admin_template_path %>
    <%= link_to "<span class='icons'>C</span> Position Templates".html_safe, positions_admin_templates_path %>
  </ol>
<% end %>
