<% breadcrumb :admin_templates %>

<main class="clearfix">

	<section class="workspace metadata cf">
	
		<h1>Templates</h1>
    <ul>
    <% @templates.each do |template| %>
      <li><%= link_to "Edit '#{template.title}'", edit_admin_template_path(template) %></li>
    <% end %>
    </ul>      

  
  </section><!--workspace-->
		    
</main>