<%= form_tag(update_positions_admin_templates_path, method: :patch) do %>
  <table>
    <thead>
      <tr>
        <th>Position</th>
        <th>Template</th>
      </tr>
    </thead>

    <tbody>
      <% @templates.each do |template| %>
        <tr>
          <td><%= text_field_tag("positions[#{template.id}]", template.position, class: "select-on-click") %>
          <td><%= link_to(template.title, template, target: :blank) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <%= submit_tag "Update Position Data" %>
<% end %>
