<div id="branding" class="grouping branding image-select radio cf"> 

    <h3>Choose Flyer Branding</h3>

    <div class="field logo"> 
        <input id="branding-afscme" name="data[ss_branding]" type="radio" value="afscme" />
        <label for="branding-afscme">
           <div class="radio-button"></div>
           <figure style="background-image: url(http://toolkit-afscme.bytrilogy.com/theme/img/afscme-branding-thumb.png);"></figure>
        </label>
    </div>
    
    <div class="field logo"> 
        <input id="branding-csea" name="data[ss_branding]" type="radio" value="csea" />
        <label for="branding-csea">
           <div class="radio-button"></div>
           <figure style="background-image: url(http://toolkit-afscme.bytrilogy.com/theme/img/csea-branding-thumb.png);"></figure>
        </label>
    </div>
    
</div><!--theme-->


<div class="step grouping cf"> 
  <h3>Edit headline</h3>
                                
  <div class="field"> 
    <label for="headline">
      <input type="text" data-custom="text" name="data[headline]" id="headline-custom" maxlength="30" value="AFSCME Newsletter" />
      <small>Maximum of 30 characters. Please preview, since words may wrap unexpectedly and cutoff your headline.</small>
      <label for="headline-custom"></label>
    </label>
      
    <label for="subheadline">
      <input type="text" data-custom="text" name="data[subheadline]" id="subheadline-custom" value="" maxlength="45" placeholder="Newsletter Date" />
      <small>Maximum of 45 characters. Please preview, since words may wrap unexpectedly and cutoff your sub-headline.</small>
      <label for="subheadline-custom"></label>
    </label>
  </div>
</div><!--headline-->


<div class="step grouping testimonial multi-input cf"> 
  <h3>Edit Page 1, Left Column Content</h3>
  <div class="table">  

    <div class="testimonial-image image-select"> 
      <div class="field upload"> 
        <input id="page1-col1-photo" data-custom="image" name="data[page1_col1_photo]" type="radio" value="" />
        <label for="page1-col1-photo">
            <figure href="javascript:void(0);" title="Add Photo" class="image-picker" data-target="page1-col1-photo">
                <div class="positioner">
                    <span class="icons">C</span>
                    Add Image
                </div>
            </figure>
        </label>
      </div>
    </div>

    <div class="testimonial-text"> 
        <div class="field"> 
            <label for="page1-col1-title">
            <input type="text" name="data[page1_col1_title]" data-custom="text" id="page1_col1_title-custom" value="" maxlength="75" placeholder="Title" />
            <small>Maximum of 75 characters. Please preview, since words may wrap unexpectedly and cutoff your headline.</small>
        </label>
        </div>
        <div class="field"> 
            <label for="page1-col1-caption">
              <input type="text" name="data[page1_col1_caption]" data-custom="text" id="page1_col1_caption-custom" value="" maxlength="150" placeholder="Photo Caption" />
              <small>Maximum of 150 characters. Please preview, since words may wrap unexpectedly and cutoff your caption.</small>
            </label>                            
        </div>
        <div class="page1-col1-text"> 
            <label for="page1-col1-text">
              <textarea  class="tinymce" name="data[page1_col1_text]" data-custom="text" id="page1_col1_text-custom" placeholder="Your body text"></textarea>
              <small>Maximum of 500 characters. Please preview, since words may wrap unexpectedly and cutoff your text.</small>
            </label>                            
        </div>
    </div>

  </div>
</div><!-- grouping -->    


<div class="step grouping testimonial multi-input cf"> 
  <h3>Edit Page 1, Right Column Content</h3>
  <div class="table">  

    <div class="testimonial-image image-select"> 
      <div class="field upload"> 
        <input id="page1-col2-photo" data-custom="image" name="data[page1_col2_photo]" type="radio" value="" />
        <label for="page1-col2-photo">
            <figure href="javascript:void(0);" title="Add Photo" class="image-picker" data-target="page1-col2-photo">
                <div class="positioner">
                    <span class="icons">C</span>
                    Add Image
                </div>
            </figure>
        </label>
      </div>
    </div>

    <div class="testimonial-text"> 
        <div class="field"> 
            <label for="page1-col2-title">
            <input type="text" name="data[page1_col2_title]" data-custom="text" id="page1_col2_title-custom" value="" maxlength="75" placeholder="Title" />
            <small>Maximum of 75 characters. Please preview, since words may wrap unexpectedly and cutoff your headline.</small>
        </label>
        </div>
        <div class="page1-col1-text"> 
            <label for="page1-col2-text">
              <textarea  class="tinymce" name="data[page1_col2_text]" data-custom="text" id="page1_col2_text-custom" placeholder="Your body text"></textarea>
              <small>Maximum of 500 characters. Please preview, since words may wrap unexpectedly and cutoff your text.</small>
            </label>                            
        </div>
    </div>

  </div>
</div><!-- grouping -->   

<div class="step grouping cf"> 
  <h3>Edit Page 1, Bottom Right Content</h3>
  <div class="field"> 

      <div class="option"> 
        <label for="page1-col2-bot-headline">
          <input type="text" name="data[page1_col2_bot_headline]" data-custom="text" id="page1_col2_bot_headline-custom" value="Upcoming Events" maxlength="85" />
        </label>
      </div>

      <div class="option"> 
        <label for="page1-col2-bot-text">
          <textarea  class="tinymce" name="data[page1_col2_bot_text]" data-custom="text" id="page1_col2_bot_text-custom" placeholder="Your event text"></textarea>
          <small>Maximum of 200 characters. Please preview, since words may wrap unexpectedly and cutoff your text.</small>
        </label>
      </div>
  </div>

</div><!--call-to-action-->

<div class="step grouping testimonial multi-input cf"> 
  <h3>Edit Page 2, Bottom Content</h3>
  <div class="table">  

    <div class="testimonial-image image-select"> 
      <div class="field upload"> 
        <input id="page2-bot-photo" data-custom="image" name="data[page2_bot_photo]" type="radio" value="" />
        <label for="page2-bot-photo">
            <figure href="javascript:void(0);" title="Add Photo" class="image-picker" data-target="page2-bot-photo">
                <div class="positioner">
                    <span class="icons">C</span>
                    Add Image
                </div>
            </figure>
        </label>
      </div>
    </div>

    <div class="testimonial-text"> 
        <div class="field"> 
            <label for="page2-bot-title">
            <input type="text" name="data[page2_bot_title]" data-custom="text" id="page2_bot_title-custom" value="Who We Are" maxlength="75" />
            <small>Maximum of 75 characters. Please preview, since words may wrap unexpectedly and cutoff your headline.</small>
        </label>
        </div>
        <div class="field"> 
            <label for="page2-bot-caption">
              <input type="text" name="data[page2_bot_caption]" data-custom="text" id="page2_bot_caption-custom" value="" maxlength="150" placeholder="Photo Caption" />
              <small>Maximum of 150 characters. Please preview, since words may wrap unexpectedly and cutoff your caption.</small>
            </label>                            
        </div>
        <div class="page1-col1-text"> 
            <label for="page1-col1-text">
              <textarea class="tinymce" name="data[page2_bot_text]" data-custom="text" id="page2_bot_text-custom" placeholder="Your body text"></textarea>
              <small>Maximum of 300 characters. Please preview, since words may wrap unexpectedly and cutoff your text.</small>
            </label>
        </div>
    </div>

  </div>
</div><!-- grouping -->    

<div class="step grouping image-select cf">
  <h3>Council/Affiliate or Campaign Logo</h3>
  <div class="field upload"> 
    <input id="nl_affiliate_logo" data-custom="image" name="data[nl_affiliate_logo]" type="radio" value="custom" />
    <label for="nl_affiliate_logo">
       <figure href="javascript:void(0);" title="Add Photo" class="image-picker logo" data-target="nl_affiliate_logo">
           <div class="positioner">
               <span class="icons">C</span>
               Add Image
           </div>
       </figure>
    </label>
  </div>
</div><!--logo-->