<li><%= link_to "<span class='icons'>e</span> Edit".html_safe, edit_image_path(image), title: "Edit" %></li>
<% if false %>
<li><%= link_to "<span class='icons'>s</span> Share".html_safe, share_image_path(image), title: "Share" %></li>
<% end %>
<li><%= link_to "<span class='icons'>d</span> Download".html_safe, image.original_image_url, title: "Download", target: :blank %></li>
<li>
  <%= link_to(
    "<span class='icons'>x</span> Delete".html_safe, 
    trash_image_path(image),
    method: :patch, 
    data: {confirm: "Are you sure that you want to move this image to the trash?"}
  ) %>
</li>
