<section class="choose-crop" style="display:none;">
  <h3>Do you want to crop this image?</h3>

  <div class="buttons">
    <button class="preview action button" data-crop="true">Yes</button>
    <button class="preview action button" data-crop="false">No</button>
  </div>
</section>
