<section class="upload-image">
  <h3>Upload an Image</h3>

  <%= form_tag("#", id: "upload-photo-form", class: "dropzone", multipart: true) do %>
    <%= hidden_field_tag "image[creator_id]", User.current_user.id %>
      <div class="fallback">
        <%= file_field_tag "image[image]" %>
      </div>
  <% end %>

  <div id="image-error"></div>
</section>
