/.byebug_history
/.bundle
/log/*
/tmp/*
!/log/.keep
!/tmp/.keep
/config/database.yml
/config/secrets.yml
/config/mailer.yml
/coverage
/public/pdfs/*.pdf
/public/share_graphics/*.png
/public/system
sucker_punch.lock
config/mailer.yml
config/phantomjs.yml