/.byebug_history
/.bundle
/log/*
/tmp/*
!/log/.keep
!/tmp/.keep
/config/database.yml
/config/secrets.yml
/config/mailer.yml
/coverage
/public/pdfs/*.pdf
/public/share_graphics/*.png
/public/system
config/mailer.yml
config/wkhtmltoimage.yml
/config/master.key
/config/credentials.yml.enc