<div class="step grouping image-select radio cf"> 
  <h3>Choose a logo</h3>

  <div class="field radio"> 
    <input required id="logo1" name="data[as_logo]" type="radio" value="http://neverquit.afscme.org/theme/img/toolkit-afscme-logo.png" />
    <label for="logo1">
      <em><img src="http://neverquit.afscme.org/theme/img/toolkit-afscme-logo.png" alt="AFSCME"/></em>
    </label>
  </div>

  <div class="field upload"> 
    <input id="logo2" data-custom="image" name="data[as_logo]" type="radio" value="custom" />

    <label for="logo2">
      <figure href="javascript:void(0);" title="Add Photo" class="image-picker" data-target="logo2">
        <div class="positioner">
          <span class="icons">C</span>
          Add Image
        </div>
      </figure>
    </label>
  </div>
</div>
