<div class="fieldset photo three cf"> 
  <h3><strong>1</strong> Choose a logo</h3>

  <div class="field radio"> 
    <input required id="logo1" name="data[logo]" type="radio" value="http://neverquit.afscme.org/theme/img/toolkit-afscme-logo.png" />
    <label for="logo1">
      <em><img src="http://neverquit.afscme.org/theme/img/toolkit-afscme-logo.png" alt="AFSCME"/></em>
    </label>
  </div>
</div>

<div class="fieldset photo three cf"> 
  <input id="logo2-custom" name="data[logo]" data-custom="image" type="radio" value="" />
  <label for="logo2-custom" class="photo">
    <em class="cf">
      <a href="/image-picker" title="Add Photo" class="image-picker" data-target="logo2-custom">
        <div class="positioner">
          <span class="icons">C</span>
          <strong>Add Photo</strong>
        </div>
      </a>
    </em>
  </label>
</div>
