<% unless params[:controller].split("/").last == "misc" %>
  <section class="breadcrumbs branding">
    <div class="gradient-mask"></div>
    <%= breadcrumbs(
      class:         :crumbs,
      current_class: :active,
      style:         :inline,
      separator:     ""
    ) %>

    <%= content_for(:breadcrumb_extras) %>
  </section>
<% end %>
