<% if flash.count > 0 %>
  <% if notice %>
    <p id="notice"><%= notice %></p>
  <% elsif alert %>
    <p id="alert"><%= alert %></p>
  <% end %>
<% elsif params[:flash] %>
  <p id="notice"><%= params[:flash] %></p>
<% end %>
