<div id="branding" class="grouping branding image-select radio cf"> 

    <h3>Choose Flyer Branding</h3>

    <div class="field logo"> 
        <input id="branding-afscme" name="data[c2sp_branding]" type="radio" value="afscme" />
        <label for="branding-afscme">
           <div class="radio-button"></div>
           <figure style="background-image: url(http://toolkit-afscme.bytrilogy.com/theme/img/afscme-branding-thumb.png);"></figure>
        </label>
    </div>
    
    <div class="field logo"> 
        <input id="branding-csea" name="data[c2sp_branding]" type="radio" value="csea" />
        <label for="branding-csea">
           <div class="radio-button"></div>
           <figure style="background-image: url(http://toolkit-afscme.bytrilogy.com/theme/img/csea-branding-thumb.png);"></figure>
        </label>
    </div>
    
</div><!--theme-->

<div class="step grouping image-select cf">
  <h3>Council/Affiliate Logo</h3>

  <div class="field upload"> 
    <input id="logo2" data-custom="image" name="data[c2sp_affiliate_logo]" type="radio" value="custom" />
    <label for="logo2">
       <figure href="javascript:void(0);" title="Add Photo" class="image-picker logo" data-target="logo2">
           <div class="positioner">
               <span class="icons">C</span>
               Add Image
           </div>
       </figure>
    </label>
  </div>
</div><!--logo-->

<div class="step grouping cf"> 
  <h3>Create a headline</h3>
                                
  <div class="field"> 
    <label for="headline">
      <input type="text" data-custom="text" name="data[c2sp_headline]" id="headline-custom" value="" maxlength="30" placeholder="Headline" />
      <small>Maximum of 30 characters. Please preview, since words may wrap unexpectedly and cutoff your headline.</small>
      <label for="headline-custom"></label>
    </label>
      
    <label for="subheadline">
      <input type="text" data-custom="text" name="data[c2sp_subheadline]" id="subheadline-custom" value="" maxlength="45" placeholder="Sub-headline" />
      <small>Maximum of 45 characters. Please preview, since words may wrap unexpectedly and cutoff your sub-headline.</small>
      <label for="subheadline-custom"></label>
    </label>
  </div>
</div><!--headline-->
                    
<div class="step grouping testimonial multi-input cf"> 
  <h3>Add a Headshot and Testimonial</h3>
  <small>Add between three and five testimonials.</small>

    <div class="table">  

        <div class="testimonial-image image-select"> 
            <div class="field upload"> 
              <input id="headshot1-custom" data-custom="image" name="data[c2sp_headshot1]" type="radio" value="" />
              <label for="headshot1-custom">
                 <figure href="javascript:void(0);" title="Add Photo" class="image-picker" data-target="headshot1-custom">
                     <div class="positioner">
                         <span class="icons">C</span>
                         Add Image
                     </div>
                 </figure>
              </label>
      </div>
    </div>

        <div class="testimonial-text"> 
              <div class="field"> 
                <label for="quote1">
                  <input type="text" name="data[c2sp_quote1]" data-custom="text" id="quote1-custom" value="" maxlength="75" placeholder="Quote" />
                  <label for="quote1-custom"></label>
                  <small>Maximum of 75 characters. Please preview, since words may wrap unexpectedly and cutoff your headline.</small>
                </label>
              </div>
              <div class="field"> 
                <label for="attribution1">
                  <input type="text" name="data[c2sp_attribution1]" data-custom="text" id="attribution1-custom" value="" maxlength="45" placeholder="Name, Location, Occupation" />
                  <label for="attribution1-custom"></label>
                  <small>Maximum of 50 characters. Please preview, since words may wrap unexpectedly and cutoff your sub-headline.</small>
                </label>                            
              </div>
        </div>

    </div><!--testimonial grouping-->    
    
    <div class="table">  

        <div class="testimonial-image image-select"> 
            <div class="field upload"> 
              <input id="headshot2-custom" data-custom="image" name="data[c2sp_headshot2]" type="radio" value="" />
              <label for="headshot2-custom">
                 <figure href="javascript:void(0);" title="Add Photo" class="image-picker" data-target="headshot2-custom">
                     <div class="positioner">
                         <span class="icons">C</span>
                         Add Image
                     </div>
                 </figure>
              </label>
      </div>
    </div>

        <div class="testimonial-text"> 
              <div class="field"> 
                <label for="quote2">
                  <input type="text" name="data[c2sp_quote2]" data-custom="text" id="quote2-custom" value="" maxlength="75" placeholder="Quote" />
                  <label for="quote2-custom"></label>
                  <small>Maximum of 75 characters. Please preview, since words may wrap unexpectedly and cutoff your headline.</small>
                </label>
              </div>
              <div class="field"> 
                <label for="attribution2">
                  <input type="text" name="data[c2sp_attribution2]" data-custom="text" id="attribution2-custom" value="" maxlength="45" placeholder="Name, Location, Occupation" />
                  <label for="attribution2-custom"></label>
                  <small>Maximum of 50 characters. Please preview, since words may wrap unexpectedly and cutoff your sub-headline.</small>
                </label>                            
              </div>
        </div>

    </div><!--testimonial grouping-->             
    
    <div class="table">  

        <div class="testimonial-image image-select"> 
            <div class="field upload"> 
              <input id="headshot3-custom" data-custom="image" name="data[c2sp_headshot3]" type="radio" value="" />
              <label for="headshot3-custom">
                 <figure href="javascript:void(0);" title="Add Photo" class="image-picker" data-target="headshot3-custom">
                     <div class="positioner">
                         <span class="icons">C</span>
                         Add Image
                     </div>
                 </figure>
              </label>
      </div>
    </div>

        <div class="testimonial-text"> 
              <div class="field"> 
                <label for="quote3">
                  <input type="text" name="data[c2sp_quote3]" data-custom="text" id="quote3-custom" value="" maxlength="75" placeholder="Quote" />
                  <label for="quote3-custom"></label>
                  <small>Maximum of 75 characters. Please preview, since words may wrap unexpectedly and cutoff your headline.</small>
                </label>
              </div>
              <div class="field"> 
                <label for="attribution3">
                  <input type="text" name="data[c2sp_attribution3]" data-custom="text" id="attribution3-custom" value="" maxlength="45" placeholder="Name, Location, Occupation" />
                  <label for="attribution3-custom"></label>
                  <small>Maximum of 50 characters. Please preview, since words may wrap unexpectedly and cutoff your sub-headline.</small>
                </label>                            
              </div>
        </div>

    </div><!--testimonial grouping-->  
    
    <div class="table">  

        <div class="testimonial-image image-select"> 
            <div class="field upload"> 
              <input id="headshot4-custom" data-custom="image" name="data[c2sp_headshot4]" type="radio" value="" />
              <label for="headshot4-custom">
                 <figure href="javascript:void(0);" title="Add Photo" class="image-picker" data-target="headshot4-custom">
                     <div class="positioner">
                         <span class="icons">C</span>
                         Add Image
                     </div>
                 </figure>
              </label>
      </div>
    </div>

        <div class="testimonial-text"> 
              <div class="field"> 
                <label for="quote4">
                  <input type="text" name="data[c2sp_quote4]" data-custom="text" id="quote4-custom" value="" maxlength="75" placeholder="Quote" />
                  <label for="quote4-custom"></label>
                  <small>Maximum of 75 characters. Please preview, since words may wrap unexpectedly and cutoff your headline.</small>
                </label>
              </div>
              <div class="field"> 
                <label for="attribution4">
                  <input type="text" name="data[c2sp_attribution4]" data-custom="text" id="attribution4-custom" value="" maxlength="45" placeholder="Name, Location, Occupation" />
                  <label for="attribution4-custom"></label>
                  <small>Maximum of 50 characters. Please preview, since words may wrap unexpectedly and cutoff your sub-headline.</small>
                </label>                            
              </div>
        </div>

    </div><!--testimonial grouping-->        
    
    <div class="table">  

        <div class="testimonial-image image-select"> 
            <div class="field upload"> 
              <input id="headshot5-custom" data-custom="image" name="data[c2sp_headshot5]" type="radio" value="" />
              <label for="headshot5-custom">
                 <figure href="javascript:void(0);" title="Add Photo" class="image-picker" data-target="headshot5-custom">
                     <div class="positioner">
                         <span class="icons">C</span>
                         Add Image
                     </div>
                 </figure>
              </label>
      </div>
    </div>

        <div class="testimonial-text"> 
              <div class="field"> 
                <label for="quote5">
                  <input type="text" name="data[c2sp_quote5]" data-custom="text" id="quote5-custom" value="" maxlength="75" placeholder="Quote" />
                  <label for="quote5-custom"></label>
                  <small>Maximum of 75 characters. Please preview, since words may wrap unexpectedly and cutoff your headline.</small>
                </label>
              </div>
              <div class="field"> 
                <label for="attribution5">
                  <input type="text" name="data[c2sp_attribution5]" data-custom="text" id="attribution5-custom" value="" maxlength="45" placeholder="Name, Location, Occupation" />
                  <label for="attribution5-custom"></label>
                  <small>Maximum of 50 characters. Please preview, since words may wrap unexpectedly and cutoff your sub-headline.</small>
                </label>                            
              </div>
        </div>

    </div><!--testimonial grouping-->                                        


</div>  

    
    

<div class="step grouping cf"> 
  <h3>Create a Headline and Body Text</h3>
        
  <div class="field"> 
      <div class="option"> 
        <label for="headline">
          <input type="text" name="data[c2sp_body_headline]" data-custom="text" id="body-headline-custom" value="" maxlength="35" placeholder="Headline" />
          <label for="body-headline-custom"></label>
          <small>Maximum of 35 characters. Please preview, since words may wrap unexpectedly and cutoff your headline.</small>
        </label>
      </div>
      <div class="option"> 
        <label for="body-subheadline-custom">
          <input type="text" name="data[c2sp_body_subheadline]" data-custom="text" id="body-subheadline-custom" value="" maxlength="50" placeholder="Sub-headline" />
          <label for="subheadline2-custom"></label>
          <small>Maximum of 50 characters. Please preview, since words may wrap unexpectedly and cutoff your sub-headline.</small>
        </label>                            
      </div>
      <div class="option"> 
        <label for="body-text-custom">
          <textarea name="data[c2sp_body_text]" data-custom="text" id="body-text-custom" placeholder="Your body text"></textarea>
          <small>Maximum of 500 characters. Please preview, since words may wrap unexpectedly and cut off your headline.</small>
        </label>
      </div>
  </div>

</div><!--bodytext-->

<div class="step grouping cf"> 
  <h3>Mailing Permit Number</h3>
        
  <div class="field"> 
    <label for="permit-custom">
      <input type="text" name="data[c2sp_permit_number]" data-custom="text" id="permit-custom" value="" maxlength="50" placeholder="Permit Number" />
    </label>
  </div>
</div><!--permit-->

<div class="step grouping cf"> 
  <h3>Create a Call-to-Action</h3>
  <small>We recommend including a website url or other method to learn more.</small>
  
  <div class="field"> 
    <label for="call-to-action-custom">
      <input type="text" name="data[c2sp_call_to_action]" data-custom="text" id="call-to-action-custom" value="" maxlength="85" placeholder="Call to Action Headline" />
      <small>Maximum of 85 characters. Please preview, since words may wrap unexpectedly and cutoff your headline.</small>
    </label>
  </div>
</div><!--call-to-action-->

<div class="step grouping cf"> 
  <h3>Mailing Information</h3>

  <div class="field"> 
    <div class="option">
    <label for="union-title-custom">
      <input type="text" name="data[c2sp_union_title]" data-custom="text" id="union-title-custom" value="" maxlength="50" placeholder="Union Title" />
    </label>
    </div>
    <div class="option">
    <label for="address-custom">
      <input type="text" name="data[c2sp_address]" data-custom="text" id="address-custom" value="" maxlength="50" placeholder="Street Address" />
      <label for="unionaddress1-custom"></label>
    </label>
    </div>
    <div class="option">
    <label for="city-state-zip-custom">
      <input type="text" name="data[c2sp_city_state_zip]" data-custom="text" id="city-state-zip-custom" value="" maxlength="50" placeholder="City, State, Zip Code" />
    </label>
    </div>
  </div>
</div><!--mailing-info-->
