<div id="branding" class="grouping branding image-select radio cf"> 

    <h3>Choose Flyer Branding</h3>

    <div class="field logo"> 
        <input id="branding-afscme" name="data[pm_branding]" type="radio" value="afscme" />
        <label for="branding-afscme">
           <div class="radio-button"></div>
           <figure style="background-image: url(http://toolkit-afscme.bytrilogy.com/theme/img/afscme-branding-thumb.png);"></figure>
        </label>
    </div>
    
    <div class="field logo"> 
        <input id="branding-csea" name="data[pm_branding]" type="radio" value="csea" />
        <label for="branding-csea">
           <div class="radio-button"></div>
           <figure style="background-image: url(http://toolkit-afscme.bytrilogy.com/theme/img/csea-branding-thumb.png);"></figure>
        </label>
    </div>
    
</div><!--theme-->

<div class="step grouping cf"> 
  <h3>Edit Top Heading</h3>
  <div class="field"> 
    <label for="heading">
      <input type="text" data-custom="text" name="data[heading]" id="heading_custom" maxlength="30" value="Important Union Message" />
      <small>Maximum of 30 characters. Please preview, since words may wrap unexpectedly and cutoff your headline.</small>
      <label for="heading_custom"></label>
    </label>
  </div>
</div><!--headline-->

<div class="step grouping image-select cf"> 
  <h3>Front Image</h3>
  <small style="display: block;">Please size your image to 4 inches by 2.75 inches</small>

  <div class="field upload cf"> 
    <input id="photo1-custom" data-custom="image" name="data[photo1]" type="radio" value="" />
    <label for="photo1-custom">
       <figure href="javascript:void(0);" title="Add Photo" class="image-picker" data-target="photo1-custom" data-resize-width="1200" data-resize-height="825">
           <div class="positioner">
               <span class="icons">C</span>
               Add Photo
           </div>
       </figure>
    </label>
  </div>
</div><!--photo-->


<div class="step grouping cf"> 
  <h3>Edit Front Text</h3>
                                
  <div class="field"> 
    <label for="headline">
      <input type="text" data-custom="text" name="data[headline]" id="headline_custom" maxlength="20" value="" placeholder="Headline" />
      <small>Maximum of 20 characters. Please preview, since words may wrap unexpectedly and cutoff your headline.</small>
    </label>
      
    <label for="subheading">
      <input type="text" data-custom="text" name="data[subheading]" id="subheading_custom" value="" maxlength="30" placeholder="Sub-Headline" />
      <small>Maximum of 30 characters. Please preview, since words may wrap unexpectedly and cutoff your sub-headline.</small>
    </label>

    <label for="call_to_action">
      <input type="text" data-custom="text" name="data[call_to_action]" id="call_to_action_custom" value="" maxlength="30" placeholder="Call-to-Action" />
      <small>Maximum of 30 characters. Please preview, since words may wrap unexpectedly and cutoff your call-to-action.</small>
    </label>

    <label for="front_text">
      <textarea class="tinymce" name="data[front_text]" data-custom="wysiwyg" id="front_text"></textarea>
    </label>

  </div>
</div><!--front-text-->

<div class="step grouping image-select cf"> 
  <h3>Front Image</h3>
  <small style="display: block;">Please size your image to 4 inches by 2.25 inches</small>

  <div class="field upload cf"> 
    <input id="photo2-custom" data-custom="image" name="data[photo2]" type="radio" value="" />
    <label for="photo2-custom">
       <figure href="javascript:void(0);" title="Add Photo" class="image-picker" data-target="photo2-custom" data-resize-width="1200" data-resize-height="625">
           <div class="positioner">
               <span class="icons">C</span>
               Add Photo
           </div>
       </figure>
    </label>
  </div>
</div><!--photo-->


<div class="step grouping cf"> 
  <h3>Edit Back Text</h3>
                                
  <div class="field"> 
    <label for="back_headline">
      <input type="text" data-custom="text" name="data[back_headline]" id="back_headline_custom" maxlength="20" value="" placeholder="Headline" />
      <small>Maximum of 20 characters. Please preview, since words may wrap unexpectedly and cutoff your headline.</small>
    </label>
      
    <label for="back_text">
      <textarea class="tinymce" name="data[back_text]" data-custom="wysiwyg" id="back_text"></textarea>
    </label>

    <label for="back_subheading">
      <input type="text" data-custom="text" name="data[back_subheading]" id="back_subheading_custom" value="" maxlength="30" placeholder="Sub-Headline" />
      <small>Maximum of 30 characters. Please preview, since words may wrap unexpectedly and cutoff your sub-headline.</small>
    </label>

    <label for="back_bullets">
      <textarea class="tinymce" name="data[back_bullets]" data-custom="wysiwyg" id="back_bullets"></textarea>
    </label>

  </div>
</div><!--back-text-->

<div class="step grouping cf"> 
  <h3>Edit Funding Disclaimer</h3>
  <div class="field"> 
    <label for="funding_disclaimer">
      <input type="text" data-custom="text" name="data[funding_disclaimer]" id="funding_disclaimer_custom" maxlength="90" value="" placeholder="Paid for by the American Federation of State, County and Municipal Employees" />
      <small>Maximum of 90 characters. Please preview, since words may wrap unexpectedly and cutoff your postage information.</small>
      <label for="postage_info_custom"></label>
    </label>
  </div>
</div><!--headline-->

<div class="step grouping image-select cf">
  <h3>Council/Affiliate or Campaign Logo</h3>
  <div class="field upload"> 
    <input id="dh_affiliate_logo" data-custom="image" name="data[dh_affiliate_logo]" type="radio" value="custom" />
    <label for="dh_affiliate_logo">
       <figure href="javascript:void(0);" title="Add Photo" class="image-picker logo" data-target="dh_affiliate_logo">
           <div class="positioner">
               <span class="icons">C</span>
               Add Image
           </div>
       </figure>
    </label>
  </div>
</div><!--logo-->
