<div class="document">
  <%= link_to(
    "", 
    template_path(template),
    class: "document-thumbnail",
    title: template.title,
    style: "background-image: url('#{template.thumbnail.url}');"
  ) %>

  <%= link_to(
      template.title,
      template_path(template),
      class: "document-title",
      title: template.title 
  ) %>

  <ul class="options"> 
    <li>
      <a href="javascript:void(0);" title="Options" class="icons">+</a>
      <ol>
        <li><%= link_to "<span class='icons'>e</span> View".html_safe, template_path(template), title: "View" %></li>
        <li><%= link_to "<span class='icons'>c</span> Duplicate".html_safe, template_path(template), title: "Duplicate" %></li>
      </ol>
    </li>
  </ul>
</div>