<% if @category %>
  <% content_for :title, "Templates: #{@category.title}" %>
	<% breadcrumb :category, @category %>
<% else %>
  <% content_for :title, "Templates" %>
	<% breadcrumb :templates %>
<% end %>

<aside>
  <%= render partial: "templates/sidebar_nav" %>
</aside>

<% if @filtered_templates.count > 0 %>
  <section class="workspace cf">
    <%= render @filtered_templates %>
    <%= paginate @filtered_templates %>
  </section>
<% else %>
	<p class="no-results">There are currently no templates available for this document type.</p>
<% end %>