<div id="branding" class="grouping branding image-select radio cf"> 

    <h3>Choose Flyer Branding</h3>

    <div class="field logo"> 
        <input id="branding-afscme" name="data[pm_branding]" type="radio" value="afscme" />
        <label for="branding-afscme">
           <div class="radio-button"></div>
           <figure style="background-image: url(http://toolkit-afscme.bytrilogy.com/theme/img/afscme-branding-thumb.png);"></figure>
        </label>
    </div>
    
    <div class="field logo"> 
        <input id="branding-csea" name="data[pm_branding]" type="radio" value="csea" />
        <label for="branding-csea">
           <div class="radio-button"></div>
           <figure style="background-image: url(http://toolkit-afscme.bytrilogy.com/theme/img/csea-branding-thumb.png);"></figure>
        </label>
    </div>
    
</div><!--theme-->


<div class="step grouping cf"> 
  <h3>Edit Top Heading</h3>
  <div class="field"> 
    <label for="heading">
      <input type="text" data-custom="text" name="data[heading]" id="heading_custom" maxlength="30" value="Important Union Message" />
      <small>Maximum of 30 characters. Please preview, since words may wrap unexpectedly and cutoff your headline.</small>
      <label for="heading_custom"></label>
    </label>
  </div>
</div><!--headline-->

<div class="step grouping cf"> 
  <h3>Edit Candidate Information</h3>
                                
  <div class="field"> 
    <label for="headline">
      <input type="text" data-custom="text" name="data[candidate_name]" id="candidate_name_custom" maxlength="30" value="" placeholder="Candidate Name" />
      <small>Maximum of 30 characters. Please preview, since words may wrap unexpectedly and cutoff your headline.</small>
      <label for="candidate_name"></label>
    </label>
      
    <label for="subheadline">
      <input type="text" data-custom="text" name="data[candidate_office]" id="candidate_office_custom" value="" maxlength="30" placeholder="Office" />
      <small>Maximum of 30 characters. Please preview, since words may wrap unexpectedly and cutoff your sub-headline.</small>
      <label for="candidate_office"></label>
    </label>
  </div>
</div><!--candidate-info-->

<div class="step grouping cf"> 
  <h3>Edit Headline</h3>
  <div class="field"> 
    <label for="headline">
      <input type="text" data-custom="text" name="data[headline]" id="headline_custom" maxlength="75" value="" value="Headline" />
      <small>Maximum of 75 characters. Please preview, since words may wrap unexpectedly and cutoff your headline.</small>
      <label for="heading_custom"></label>
    </label>
  </div>
</div><!--headline-->

<div class="step grouping image-select cf"> 
  <h3>Candidate Headshot</h3>
  <small style="display: block;">Please size your image to 6.5 inches by 7.75 inches</small>

  <div class="field upload cf"> 
    <input id="headshot-custom" data-custom="image" name="data[headshot]" type="radio" value="" />
    <label for="headshot-custom">
       <figure href="javascript:void(0);" title="Add Photo" class="image-picker" data-target="headshot-custom"  data-resize-width="1950" data-resize-height="2325">
           <div class="positioner">
               <span class="icons">C</span>
               Add Headshot
           </div>
       </figure>
    </label>
  </div>
</div><!--photo-->

<div class="step grouping image-select cf"> 
  <h3>Page 1 Bottom Right Photo</h3>
  <small style="display: block;">Please size your image to 7.5 inches by 4.75 inches</small>

  <div class="field upload cf"> 
    <input id="bottom_right_photo-custom" data-custom="image" name="data[bottom_right_photo]" type="radio" value="" />
    <label for="bottom_right_photo-custom">
       <figure href="javascript:void(0);" title="Add Photo" class="image-picker" data-target="bottom_right_photo-custom" data-resize-width="2267" data-resize-height="1425">
           <div class="positioner">
               <span class="icons">C</span>
               Add Photo
           </div>
       </figure>
    </label>
  </div>
</div><!--photo-->

<div class="step grouping cf"> 
  <h3>Edit Call-to-Action</h3>
  <div class="field"> 
    <label for="call_to_action">
      <input type="text" data-custom="text" name="data[call_to_action]" id="call_to_action_custom" maxlength="75" value="" />
      <small>Maximum of 75 characters. Please preview, since words may wrap unexpectedly and cutoff your call-to-action.</small>
      <label for="call_to_action_custom"></label>
    </label>
  </div>
</div><!--headline-->

<div class="step grouping image-select cf"> 
  <h3>Page 2 Photo</h3>
  <small style="display: block;">Please size your image to 7 inches by 4.5 inches</small>

  <div class="field upload cf"> 
    <input id="page_2_photo-custom" data-custom="image" name="data[page_2_photo]" type="radio" value="" data-resize-width="2100" data-resize-height="1350" />
    <label for="page_2_photo-custom">
       <figure href="javascript:void(0);" title="Add Photo" class="image-picker" data-target="page_2_photo-custom">
           <div class="positioner">
               <span class="icons">C</span>
               Add Photo
           </div>
       </figure>
    </label>
  </div>
</div><!--photo-->

<div class="step grouping cf"> 
  <h3>Edit Event Information</h3>
                                
  <div class="field"> 
    <label for="headline">
      <input type="text" data-custom="text" name="data[event_name]" id="event_name_custom" maxlength="100" value="" placeholder="Event Name" />
      <small>Maximum of 100 characters. Please preview, since words may wrap unexpectedly and cutoff your event name.</small>
      <label for="event_name"></label>
    </label>
      
    <label for="subheadline">
      <input type="text" data-custom="text" name="data[event_date]" id="event_date_custom" value="" maxlength="50" placeholder="Event Date" />
      <small>Maximum of 50 characters. Please preview, since words may wrap unexpectedly and cutoff your date.</small>
      <label for="event_date"></label>
    </label>
  </div>
</div><!--candidate-info-->

<div class="step grouping cf"> 
  <h3>Edit Page 2, Right Column</h3>
                                
  <div class="field">
    <label for="page2_headline1">
      <input type="text" name="data[page2_headline1]" data-custom="text" id="page2_headline1-custom" value="" maxlength="200" placeholder="Headline 1" />
      <label for="page2_headline1-custom"></label>
      <small>Maximum of 200 characters. Please preview, since words may wrap unexpectedly and cutoff your headline.</small>
    </label>

    <label for="page2_text1">
       <textarea name="data[page2_text1]" data-custom="text" id="page2_text1_custom" placeholder="" maxlength="200" ></textarea>
       <small>Maximum of 200 characters. Please preview, since words may wrap unexpectedly and cut off your description.</small>
    </label>
  </div>  
</div><!--right body-->

<div class="step grouping cf"> 
  <h3>Mailing Information</h3>

  <div class="field"> 
    <div class="option">
    <label for="pm_address_custom">
      <input type="text" name="data[pm_address]" data-custom="text" id="pm_address_custom" value="" maxlength="50" placeholder="Street Address" />
      <label for="pm_address_custom"></label>
    </label>
    </div>
    <div class="option">
    <label for="pm_city-state-zip-custom">
      <input type="text" name="data[pm_city_state_zip]" data-custom="text" id="pm_city-state-zip-custom" value="" maxlength="50" placeholder="City, State, Zip Code" />
    </label>
    </div>
  </div>
</div><!--mailing-info-->

<div class="step grouping cf"> 
  <h3>Edit Postage Information</h3>
  <div class="field"> 
    <label for="postage_info">
      <input type="text" data-custom="text" name="data[postage_info]" id="postage_info_custom" maxlength="30" value="" placeholder="Permit #XXX" />
      <small>Maximum of 30 characters. Please preview, since words may wrap unexpectedly and cutoff your postage information.</small>
      <label for="postage_info_custom"></label>
    </label>
  </div>
</div><!--headline-->

<div class="step grouping cf"> 
  <h3>Edit Funding Disclaimer</h3>
  <div class="field"> 
    <label for="funding_disclaimer">
      <input type="text" data-custom="text" name="data[funding_disclaimer]" id="funding_disclaimer_custom" maxlength="70" value="" placeholder="Paid for by the American Federation of State, County and Municipal Employees" />
      <small>Maximum of 70 characters. Please preview, since words may wrap unexpectedly and cutoff your postage information.</small>
      <label for="postage_info_custom"></label>
    </label>
  </div>
</div><!--headline-->

<div class="step grouping image-select cf">
  <h3>Council/Affiliate or Campaign Logo</h3>
  <div class="field upload"> 
    <input id="pm_affiliate_logo" data-custom="image" name="data[pm_affiliate_logo]" type="radio" value="custom" />
    <label for="pm_affiliate_logo">
       <figure href="javascript:void(0);" title="Add Photo" class="image-picker logo" data-target="pm_affiliate_logo">
           <div class="positioner">
               <span class="icons">C</span>
               Add Image
           </div>
       </figure>
    </label>
  </div>
</div><!--logo-->