<%= form_for(flyer) do |f| %>
  <% if flyer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(flyer.errors.count, "error") %> prohibited this flyer from being saved:</h2>

      <ul>
      <% flyer.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
