<aside>
  <ul> 
    <li>
      <a href="/campaigns" title="Campaigns">Campaigns</a>
      <div class="contents-counter">2</div>
    </li>
          
    <li>
      <a href="/all" title="all">All</a>
      <div class="contents-counter">14</div>
    </li>
      
    <li>
      <span class="filter-heading">Filter by Type</span>

      <ol class="filters">
        <li class="active"> 
          <%= link_to "Flyers", flyers_path, title: "Flyers" %>
          <div class="contents-counter"><%= @flyers.count %></div>
        </li>
        
        <li>
            <a href="/posters" title="Poster">Poster</a>
            <div class="contents-counter">2</div>
        </li>
        
        <li>
            <a href="/flyers" title="Newsletter">Newsletter</a>
            <div class="contents-counter">1</div>
        </li>
        
        <li>
            <a href="/posters" title="Mail piece">Mail piece</a>
            <div class="contents-counter">3</div>
        </li>
      </ol>
    </li>
  </ul>
</aside>
