<% content_for :title, "Stock Images" %>

<div style="padding-top:25px;">
  <p><strong>Title: <%= @stock_image.title %></strong> | <strong>Label: </strong><%= @stock_image.label %></p>
  <p><img width="500px;" src="<%= @stock_image.image_url %>" /></p>
  <%= link_to 'All Stock Images', stock_images_path %>
</div>
