<div id="branding" class="grouping branding image-select radio cf"> 

    <h3>Choose Flyer Branding</h3>

    <div class="field logo"> 
        <input id="branding-afscme" name="data[fh_branding]" type="radio" value="afscme" />
        <label for="branding-afscme">
           <div class="radio-button"></div>
           <figure style="background-image: url(http://toolkit-afscme.bytrilogy.com/theme/img/afscme-branding-thumb.png);"></figure>
        </label>
    </div>
    
    <div class="field logo"> 
        <input id="branding-csea" name="data[fh_branding]" type="radio" value="csea" />
        <label for="branding-csea">
           <div class="radio-button"></div>
           <figure style="background-image: url(http://toolkit-afscme.bytrilogy.com/theme/img/csea-branding-thumb.png);"></figure>
        </label>
    </div>
    
</div><!--nqlogo-->

<div class="step grouping multi-input cf"> 

    <h3>Document Description</h3>

    <div class="field wide"> 
        <label for="headline-custom">
           <input type="text" placeholder="Define a Headline" name="data[fh_headline]" id="headline-custom" data-custom="text" value="" maxlength="40" />
           <small>Maximum of 40 characters. Please preview, since words may wrap unexpectedly and cutoff your headline.</small>
        </label>
    </div>
    <div class="field wide">
        <label for="sub-headline-custom">
           <input type="text" placeholder="Define a Sub-Headline" name="data[fh_sub_headline]" id="sub-headline-custom" data-custom="text" value="" maxlength="60" />
           <small>Maximum of 60 characters. Please preview, since words may wrap unexpectedly and cutoff your headline.</small>

        </label>
    </div>
    <div class="field wide"> 
        <label for="description-custom">
           <input type="text" placeholder="Define a Description" name="data[fh_description]" id="description-custom" data-custom="text" value="" maxlength="300" />
           <small>Maximum of 300 characters. Please preview, since words may wrap unexpectedly and cutoff your headline.</small>
        </label>
    </div>

</div><!--headline-->

<div class="step grouping testimonial multi-input cf"> 

    <h3>Add First Headshot & Testimonial</h3>
    <div class="table">  

        <div class="testimonial-image image-select"> 

            <div class="field upload"> 
                <input id="photo1" data-custom="image" name="data[fh_photo1]" type="radio" />
                <label for="photo1">
                   <figure href="javascript:void(0);" title="Add Photo" class="image-picker" data-target="photo1" data-resize-width="450" data-resize-height="525">
                       <div class="positioner">
                           <span class="icons">C</span>
                           Add Image
                       </div>
                   </figure>
                </label>
            </div>

        </div>

        <div class="testimonial-text"> 

            <div class="field"> 
                <input id="testimonial1-quote" data-custom="text" name="data[fh_testimonial1_quote]" type="radio" />
                <label for="testimonial1-quote">
                  <input type="text" placeholder="Quote" name="data[fh_testimonial1_quote]" id="testimonial1-quote-custom" data-custom="text" value="" maxlength="525" />
                   <small>Maximum of 140 characters. Please preview, since words may wrap unexpectedly and cutoff your headline.</small>
                </label>
            </div>

            <div class="field"> 
                <label for="testimonial1-name">
                   <input type="text" placeholder="Name" name="data[fh_testimonial1_name]" id="testimonial1-name-custom" data-custom="text" value="" maxlength="40" />
                </label>
            </div>

            <div class="field"> 
                <label for="testimonial1-location">
                   <input type="text" placeholder="Location" name="data[fh_testimonial1_location]" id="testimonial1-location-custom" data-custom="text" value="" maxlength="40" />
                </label>
            </div>

        </div>

    </div>      

</div><!--testomonial1-->

<div class="step grouping testimonial multi-input cf"> 

    <h3>Add Second Headshot & Testimonial</h3>
    <div class="table">  

        <div class="testimonial-image image-select"> 

            <div class="field upload"> 
                <input id="photo2" data-custom="image" name="data[fh_photo2]" type="radio" />
                <label for="photo2">
                   <figure href="javascript:void(0);" title="Add Photo" class="image-picker" data-target="photo2" data-resize-width="450" data-resize-height="525">
                       <div class="positioner">
                           <span class="icons">C</span>
                           Add Image
                       </div>
                   </figure>
                </label>
            </div>

        </div>

        <div class="testimonial-text"> 

            <div class="field"> 
                <input id="testimonial2-quote" data-custom="text" name="data[fh_testimonial2_quote]" type="radio" />
                <label for="testimonial2-quote">
                  <input type="text" placeholder="Quote" name="data[fh_testimonial2_quote]" id="testimonial2-quote-custom" data-custom="text" value="" maxlength="140" />
                   <small>Maximum of 140 characters. Please preview, since words may wrap unexpectedly and cutoff your headline.</small>
                </label>
            </div>

            <div class="field"> 
                <label for="testimonial1-name">
                   <input type="text" placeholder="Name" name="data[fh_testimonial2_name]" id="testimonial2-name-custom" data-custom="text" value="" maxlength="40" />
                </label>
            </div>

            <div class="field"> 
                <label for="testimonial1-location">
                   <input type="text" placeholder="Location" name="data[fh_testimonial2_location]" id="testimonial2-location-custom" data-custom="text" value="" maxlength="40" />
                </label>
            </div>

        </div>

    </div>      

</div><!--testomonial2-->

<div class="step grouping testimonial multi-input cf"> 

    <h3>Add Third Headshot & Testimonial</h3>
    <div class="table">  

        <div class="testimonial-image image-select"> 

            <div class="field upload"> 
                <input id="photo3" data-custom="image" name="data[fh_photo3]" type="radio" />
                <label for="photo3">
                   <figure href="javascript:void(0);" title="Add Photo" class="image-picker" data-target="photo3"  data-resize-width="450" data-resize-height="525">
                       <div class="positioner">
                           <span class="icons">C</span>
                           Add Image
                       </div>
                   </figure>
                </label>
            </div>

        </div>

        <div class="testimonial-text"> 

            <div class="field"> 
                <input id="testimonial3-quote" data-custom="text" name="data[fh_testimonial3_quote]" type="radio" />
                <label for="testimonial3-quote">
                  <input type="text" placeholder="Quote" name="data[fh_testimonial3_quote]" id="testimonial3-quote-custom" data-custom="text" value="" maxlength="140" />
                   <small>Maximum of 140 characters. Please preview, since words may wrap unexpectedly and cutoff your headline.</small>
                </label>
            </div>

            <div class="field"> 
                <label for="testimonial1-name">
                   <input type="text" placeholder="Name" name="data[fh_testimonial3_name]" id="testimonial3-name-custom" data-custom="text" value="" maxlength="40" />
                </label>
            </div>

            <div class="field"> 
                <label for="testimonial3-location">
                   <input type="text" placeholder="Location" name="data[fh_testimonial3_location]" id="testimonial3-location-custom" data-custom="text" value="" maxlength="40" />
                </label>
            </div>

        </div>

    </div>      

</div><!--testomonial3-->

<div class="step grouping cf"> 

    <h3>Define a Call-to-Action</h3>

    <div class="field wide"> 
        <label for="headline">
           <input type="text" placeholder="Define a Call-to-Action" name="data[fh_call_to_action]" id="call-to-action-custom" data-custom="text" value="" maxlength="100" />
           <small>Maximum of 100 characters. Please preview, since words may wrap unexpectedly and cutoff your headline.</small>
        </label>
    </div>

</div><!--call to action-->

<div class="step grouping image-select pull-left cf"> 

    <h3>Add a Council/Affiliate Logo (optional)</h3>

    <div class="field upload"> 
        <input id="logo2" data-custom="image" name="data[fh_affiliate_logo]" type="radio" value="custom" />

        <label for="logo2">
           <figure href="javascript:void(0);" title="Add Photo" class="image-picker logo" data-target="logo2">
               <div class="positioner">
                   <span class="icons">C</span>
                   Add Image
               </div>
           </figure>
        </label>

    </div>

</div><!--logo-->
