<section class="breadcrumbs">
	<div class="crumbs">
		<a href="/users" title="Manage Users">Manage Users</a>
		<%= link_to 'View New Applications', applications_path, class: "active" %>
	</div><!--crumbs-->
</section>