<div id="logo">
  <img src="http://toolkit.afscme.bytrilogy.com/theme/img/toolkit-logo.svg" alt="AFSCME Toolkit" itemprop="logo"/>
</div>


<main class="password-request">
  <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  	<%= devise_error_messages! %>
    <h1>Reset Password</h1>
    <p>Enter the email you used to create your account, and we will send you instructions about resetting your password.</p>
    <ol>
      <li>
        <%= f.email_field :email, autofocus: true, placeholder: 'Email Address' %> 
      </li>
      <li class="button">
         <input type="submit" name="commit" value="Reset Password">
      </li>
    </ol>  
  <% end %>

</main>