<div class="step grouping image-select cf">
  <h3>Council/Affiliate Logo</h3>

  <div class="field upload"> 
    <input id="logo2" data-custom="image" name="data[tsp_affiliate_logo]" type="radio" value="custom" />
    <label for="logo2">
       <figure href="javascript:void(0);" title="Add Photo" class="image-picker" data-target="logo2">
           <div class="positioner">
               <span class="icons">C</span>
               Add Image
           </div>
       </figure>
    </label>
  </div>
</div><!--logo-->

<div class="fieldset headline cf"> 
  <h3><strong>2</strong> Create a headline</h3>
                                
  <div class="field radio wide"> 
    <label for="headline">
      <input type="text" data-custom="text" name="data[headline]" id="headline-custom" value="" maxlength="30" placeholder="Headline" />
      <label for="headline-custom"></label>
      <small>Maximum of 30 characters. Please preview, since words may wrap unexpectedly and cutoff your headline.</small>
    </label>
      
    <label for="subheadline">
      <input type="text" data-custom="text" name="data[subheadline]" id="subheadline-custom" value="" maxlength="45" placeholder="Sub-headline" />
      <label for="subheadline-custom"></label>
      <small>Maximum of 45 characters. Please preview, since words may wrap unexpectedly and cutoff your sub-headline.</small>
    </label>
  </div>
</div><!--headline-->
                    
<div class="fieldset photo three cf jfc">
  <h3><strong>3</strong>  Add a Headshot and Testimonial</h3>
  <small>Add between three and five testimonials.</small>
  
  <!-- 1 -->
  <div class="field quote cf"> 
    <input id="headshot1-custom" data-custom="image" name="data[headshot1]" type="radio" value="" />
    <label for="headshot1-custom">
       <figure href="javascript:void(0);" title="Add Photo" class="image-picker" data-target="headshot1-custom">
           <div class="positioner">
               <span class="icons">C</span>
               Add Image
           </div>
       </figure>
    </label>
      
    <div class="add-text"> 
      <label for="quote1">
        <input type="text" name="data[quote1]" data-custom="text" id="quote1-custom" value="" maxlength="75" placeholder="Quote" />
        <label for="quote1-custom"></label>
        <small>Maximum of 75 characters. Please preview, since words may wrap unexpectedly and cutoff your headline.</small>
      </label>
      
      <label for="attribution1">
        <input type="text" name="data[attribution1]" data-custom="text" id="attribution1-custom" value="" maxlength="45" placeholder="Name, Location, Occupation" />
        <label for="attribution1-custom"></label>
        <small>Maximum of 50 characters. Please preview, since words may wrap unexpectedly and cutoff your sub-headline.</small>
      </label>                            
    </div>
  </div>

  <!-- 2 -->
  <div class="field quote cf"> 
    <input id="headshot2-custom" data-custom="image" name="data[headshot2]" type="radio" value="" />
    <label for="headshot2-custom">
       <figure href="javascript:void(0);" title="Add Photo" class="image-picker" data-target="headshot2-custom">
           <div class="positioner">
               <span class="icons">C</span>
               Add Image
           </div>
       </figure>
    </label>
      
    <div class="add-text"> 
      <label for="quote2">
        <input type="text" name="data[quote2]" data-custom="text" id="quote2-custom" value="" maxlength="75" placeholder="Quote" />
        <label for="quote2-custom"></label>
        <small>Maximum of 75 characters. Please preview, since words may wrap unexpectedly and cutoff your headline.</small>
      </label>
      
      <label for="attribution2">
        <input type="text" name="data[attribution2]" data-custom="text" id="attribution2-custom" value="" maxlength="45" placeholder="Name, Location, Occupation" />
        <label for="attribution2-custom"></label>
        <small>Maximum of 50 characters. Please preview, since words may wrap unexpectedly and cutoff your sub-headline.</small>
      </label>                            
    </div>
  </div>

  <!-- 3 -->
  <div class="field quote cf"> 
    <input id="headshot3-custom" data-custom="image" name="data[headshot3]" type="radio" value="" />
    <label for="headshot3-custom">
       <figure href="javascript:void(0);" title="Add Photo" class="image-picker" data-target="headshot3-custom">
           <div class="positioner">
               <span class="icons">C</span>
               Add Image
           </div>
       </figure>
    </label>
      
    <div class="add-text"> 
      <label for="quote3">
        <input type="text" name="data[quote3]" data-custom="text" id="quote3-custom" value="" maxlength="75" placeholder="Quote" />
        <label for="quote3-custom"></label>
        <small>Maximum of 75 characters. Please preview, since words may wrap unexpectedly and cutoff your headline.</small>
      </label>
      
      <label for="attribution3">
        <input type="text" name="data[attribution3]" data-custom="text" id="attribution3-custom" value="" maxlength="45" placeholder="Name, Location, Occupation" />
        <label for="attribution3-custom"></label>
        <small>Maximum of 50 characters. Please preview, since words may wrap unexpectedly and cutoff your sub-headline.</small>
      </label>                            
    </div>
  </div>

  <!-- 4 -->
  <div class="field quote cf"> 
    <input id="headshot4-custom" data-custom="image" name="data[headshot4]" type="radio" value="" />
    <label for="headshot4-custom">
       <figure href="javascript:void(0);" title="Add Photo" class="image-picker" data-target="headshot4-custom">
           <div class="positioner">
               <span class="icons">C</span>
               Add Image
           </div>
       </figure>
    </label>
      
    <div class="add-text"> 
      <label for="quote4">
        <input type="text" name="data[quote4]" data-custom="text" id="quote4-custom" value="" maxlength="75" placeholder="Quote" />
        <label for="quote4-custom"></label>
        <small>Maximum of 75 characters. Please preview, since words may wrap unexpectedly and cutoff your headline.</small>
      </label>
      
      <label for="attribution4">
        <input type="text" name="data[attribution4]" data-custom="text" id="attribution4-custom" value="" maxlength="45" placeholder="Name, Location, Occupation" />
        <label for="attribution4-custom"></label>
        <small>Maximum of 50 characters. Please preview, since words may wrap unexpectedly and cutoff your sub-headline.</small>
      </label>                            
    </div>
  </div>

  <!-- 5 -->
  <div class="field quote cf"> 
    <input id="headshot5-custom" data-custom="image" name="data[headshot5]" type="radio" value="" />
    <label for="headshot5-custom">
       <figure href="javascript:void(0);" title="Add Photo" class="image-picker" data-target="headshot5-custom">
           <div class="positioner">
               <span class="icons">C</span>
               Add Image
           </div>
       </figure>
    </label>
      
    <div class="add-text"> 
      <label for="quote5">
        <input type="text" name="data[quote5]" data-custom="text" id="quote5-custom" value="" maxlength="75" placeholder="Quote" />
        <label for="quote5-custom"></label>
        <small>Maximum of 75 characters. Please preview, since words may wrap unexpectedly and cutoff your headline.</small>
      </label>
      
      <label for="attribution5">
        <input type="text" name="data[attribution5]" data-custom="text" id="attribution5-custom" value="" maxlength="45" placeholder="Name, Location, Occupation" />
        <label for="attribution5-custom"></label>
        <small>Maximum of 50 characters. Please preview, since words may wrap unexpectedly and cutoff your sub-headline.</small>
      </label>                            
    </div>
  </div>
</div><!--photos-->

<div class="fieldset bodytext two cf"> 
  <h3><strong>4</strong> Create a Headline and Body Text</h3>
        
  <div class="field radio wide"> 
    <label for="headline">
      <input type="text" name="data[body_headline]" data-custom="text" id="body-headline-custom" value="" maxlength="35" placeholder="Headline" />
      <label for="body-headline-custom"></label>
      <small>Maximum of 35 characters. Please preview, since words may wrap unexpectedly and cutoff your headline.</small>
    </label>
      
    <label for="body-subheadline-custom">
      <input type="text" name="data[body_subheadline]" data-custom="text" id="body-subheadline-custom" value="" maxlength="50" placeholder="Sub-headline" />
      <label for="subheadline2-custom"></label>
      <small>Maximum of 50 characters. Please preview, since words may wrap unexpectedly and cutoff your sub-headline.</small>
    </label>                            

    <label for="body-text-custom">
      <textarea name="data[body_text]" data-custom="text" id="body-text-custom" placeholder="Your body text"></textarea>
      <small>Maximum of 500 characters. Please preview, since words may wrap unexpectedly and cut off your headline.</small>
    </label>
  </div>
</div><!--bodytext-->

<div class="fieldset permit cf"> 
  <h3><strong>5</strong> Mailing Permit Number</h3>
        
  <div class="field radio wide"> 
    <label for="permit-custom">
      <input type="text" name="data[permit_number]" data-custom="text" id="permit-custom" value="" maxlength="50" placeholder="Permit Number" />
    </label>
  </div>
</div><!--permit-->

<div class="fieldset call-to-action cf">
  <h3><strong>6</strong> Create a Call-to-Action</h3>
  <small>We recommend including a website url or other method to learn more.</small>
  
  <div class="field radio wide"> 
    <label for="call-to-action-custom">
      <input type="text" name="data[call_to_action]" data-custom="text" id="call-to-action-custom" value="" maxlength="85" placeholder="Call to Action Headline" />
      <small>Maximum of 85 characters. Please preview, since words may wrap unexpectedly and cutoff your headline.</small>
    </label>
  </div>
</div><!--call-to-action-->

<div class="fieldset mailing-info cf"> 
  <h3><strong>7</strong> Mailing Information</h3>

  <div class="field radio wide"> 
    <label for="union-title-custom">
      <input type="text" name="data[union_title]" data-custom="text" id="union-title-custom" value="" maxlength="50" placeholder="Union Title" />
    </label>
  </div>

  <div class="field radio wide"> 
      <label for="address-custom">
          <input type="text" name="data[address]" data-custom="text" id="address-custom" value="" maxlength="50" placeholder="Street Address" />
          <label for="unionaddress1-custom"></label>
      </label>
  </div>

  <div class="field radio wide"> 
      <label for="city-state-zip-custom">
          <input type="text" name="data[city_state_zip]" data-custom="text" id="city-state-zip-custom" value="" maxlength="50" placeholder="City, State, Zip Code" />
      </label>
  </div>
</div><!--mailing-info-->
