<div class="fieldset headline cf"> 
    <h3><strong>1</strong> Create a headline</h3>
                                
    <div class="field radio wide"> 
        <label for="headline">
            <input type="text" name="data[headline]" data-custom="text" id="headline-custom" value="" maxlength="30" placeholder="Headline" />
            <label for="headline-custom"></label>
            <small>Maximum of 30 characters. Please preview, since words may wrap unexpectedly and cutoff your headline.</small>
        </label>
        
        <label for="sub-headline">
            <input type="text" name="data[subheadline]" data-custom="text" id="subheadline-custom" value="" maxlength="45" placeholder="Sub-headline" />
            <label for="subheadline-custom"></label>
            <small>Maximum of 45 characters. Please preview, since words may wrap unexpectedly and cutoff your sub-headline.</small>
        </label>                            
    </div>
  
</div><!--headline-->

<div class="fieldset sub-headline cf"> 

    <h3><strong>2</strong> Create Comparison Options</h3>
    <small>Maximum of 15 characters. Please preview, since words may wrap unexpectedly and cutoff your headline.</small>

    <div class="field radio wide"> 
        <div class="option">
            <input type="text" name="data[option_a]" data-custom="text" id="option_a-custom" value="" maxlength="15" placeholder="Option A" />
            <label for="option-a"></label>
        </div>      
        
        <div class="option">
            <input type="text" name="data[option_b]" data-custom="text" id="option_b-custom" value="" maxlength="15" placeholder="Option B" />
            <label for="option-b"></label>
        </div>                            
    </div>
  
</div><!--Comparison Options-->       

<div class="fieldset sub-headline cf"> 

    <h3><strong>3</strong> Comparison Row 1</h3>

    <div class="field radio wide"> 
        <div class="option">
            <input type="text" name="data[comp_1_title]" data-custom="text" id="comp_1_title-custom" value="" maxlength="45" placeholder="Comparison 1 Title" />
            <label for="comp-1-title"></label>
        </div>      
        <small>Maximum of 45 characters. Please preview, since words may wrap unexpectedly and cutoff your headline.</small>

        <div class="option">
            <input type="text" name="data[comp_1_col_1]" data-custom="text" id="comp_1_col_1-custom" value="" maxlength="70" placeholder="Comparison 1, Column 1" />
            <label for="comp-1-col-1"></label>
        </div>  
        
        <div class="option">
            <input type="text" name="data[comp_1_col_2]" data-custom="text" id="comp_1_col_2-custom" value="" maxlength="70" placeholder="Comparison 1, Column 2" />
            <label for="comp-1-col-2"></label>
        </div>              
        
        <small>Maximum of 70 characters. Please preview, since words may wrap unexpectedly and cutoff your headline.</small>
        
    </div>
  
</div><!--Comparison Row-->   


<div class="fieldset sub-headline cf">

    <h3><strong>4</strong> Comparison Row 2</h3>

    <div class="field radio wide"> 
        <div class="option">
            <input type="text" name="data[comp_2_title]" data-custom="text" id="comp_2_title-custom" value="" maxlength="45" placeholder="Comparison 2 Title" />
            <label for="comp-2-title"></label>
        </div>      
        <small>Maximum of 45 characters. Please preview, since words may wrap unexpectedly and cutoff your headline.</small>

        <div class="option">
            <input type="text" name="data[comp_2_col_1]" data-custom="text" id="comp_2_col_1-custom" value="" maxlength="70" placeholder="Comparison 2, Column 1" />
            <label for="comp-2-col-1"></label>
        </div>  
        
        <div class="option">
            <input type="text" name="data[comp_2_col_2]" data-custom="text" id="comp_2_col_2-custom" value="" maxlength="70" placeholder="Comparison 2, Column 2" />
            <label for="comp-2-col-2"></label>
        </div>              
        
        <small>Maximum of 70 characters. Please preview, since words may wrap unexpectedly and cutoff your headline.</small>
        
    </div>
  
</div><!--Comparison Row-->      

<div class="fieldset sub-headline cf"> 

    <h3><strong>5</strong> Comparison Row 3</h3>

    <div class="field radio wide"> 
        <div class="option">
            <input type="text" name="data[comp_3_title]" data-custom="text" id="comp_3_title-custom" value="" maxlength="45" placeholder="Comparison 3 Title" />
            <label for="comp-3-title"></label>
        </div>      
        <small>Maximum of 45 characters. Please preview, since words may wrap unexpectedly and cutoff your headline.</small>

        <div class="option">
            <input type="text" name="data[comp_3_col_1]" data-custom="text" id="comp_3_col_1-custom" value="" maxlength="70" placeholder="Comparison 3, Column 1" />
            <label for="comp-3-col-1"></label>
        </div>  
        
        <div class="option">
            <input type="text" name="data[comp_3_col_2]" data-custom="text" id="comp_3_col_2-custom" value="" maxlength="70" placeholder="Comparison 3, Column 2" />
            <label for="comp-3-col-2"></label>
        </div>              
        
        <small>Maximum of 70 characters. Please preview, since words may wrap unexpectedly and cutoff your headline.</small>
        
    </div>
  
</div><!--Comparison Row-->   

<div class="fieldset sub-headline cf"> 

    <h3><strong>6</strong> Comparison Row 4</h3>

    <div class="field radio wide"> 
        <div class="option">
            <input type="text" name="data[comp_4_title]" data-custom="text" id="comp_4_title-custom" value="" maxlength="45" placeholder="Comparison 4 Title" />
            <label for="comp-4-title"></label>
        </div>      
        <small>Maximum of 45 characters. Please preview, since words may wrap unexpectedly and cutoff your headline.</small>

        <div class="option">
            <input type="text" name="data[comp_4_col_1]" data-custom="text" id="comp_4_col_1-custom" value="" maxlength="70" placeholder="Comparison 4, Column 1" />
            <label for="comp-4-col-1"></label>
        </div>  
        
        <div class="option">
            <input type="text" name="data[comp_4_col_2]" data-custom="text" id="comp_4_col_2-custom" value="" maxlength="70" placeholder="Comparison 4, Column 2" />
            <label for="comp-4-col-2"></label>
        </div>              
        
        <small>Maximum of 70 characters. Please preview, since words may wrap unexpectedly and cutoff your headline.</small>
        
    </div>
  
</div><!--Comparison Row-->       

<div class="fieldset sub-headline cf"> 

    <h3><strong>7</strong> Comparison Row 5</h3>

    <div class="field radio wide"> 
        <div class="option">
            <input type="text" name="data[comp_5_title]" data-custom="text" id="comp_5_title-custom" value="" maxlength="45" placeholder="Comparison 5 Title" />
            <label for="comp-5-title"></label>
        </div>      
        <small>Maximum of 45 characters. Please preview, since words may wrap unexpectedly and cutoff your headline.</small>

        <div class="option">
            <input type="text" name="data[comp_5_col_1]" data-custom="text" id="comp_5_col_1-custom" value="" maxlength="70" placeholder="Comparison 5, Column 1" />
            <label for="comp-5-col-1"></label>
        </div>  
        
        <div class="option">
            <input type="text" name="data[comp_5_col_2]" data-custom="text" id="comp_5_col_2-custom" value="" maxlength="70" placeholder="Comparison 5, Column 2" />
            <label for="comp-5-col-2"></label>
        </div>              
        
        <small>Maximum of 70 characters. Please preview, since words may wrap unexpectedly and cutoff your headline.</small>
        
    </div>
  
</div><!--Comparison Row-->     

<div class="fieldset sub-headline cf"> 

    <h3><strong>8</strong> Comparison Row 6</h3>

    <div class="field radio wide"> 
        <div class="option">
            <input type="text" name="data[comp_6_title]" data-custom="text" id="comp_6_title-custom" value="" maxlength="45" placeholder="Comparison 6 Title" />
            <label for="comp-6-title"></label>
        </div>      
        <small>Maximum of 45 characters. Please preview, since words may wrap unexpectedly and cutoff your headline.</small>

        <div class="option">
            <input type="text" name="data[comp_6_col_1]" data-custom="text" id="comp_6_col_1-custom" value="" maxlength="70" placeholder="Comparison 6, Column 1" />
            <label for="comp-6-col-1"></label>
        </div>  
        
        <div class="option">
            <input type="text" name="data[comp_6_col_2]" data-custom="text" id="comp_6_col_2-custom" value="" maxlength="70" placeholder="Comparison 6, Column 2" />
            <label for="comp-6-col-2"></label>
        </div>              
        
        <small>Maximum of 70 characters. Please preview, since words may wrap unexpectedly and cutoff your headline.</small>
        
    </div>
  
</div><!--Comparison Row-->

<div class="fieldset photo three cf"> 

    <h3><strong>9</strong> Council/Affiliate Logo (optional)</h3>

    <div class="field radio"> 
        <input id="logo2" name="data[affiliate_logo]" data-custom="image" type="radio" value="custom" />
        <label for="logo2">
            <em class="cf">
                <a href="/image-picker" title="Add Photo" class="image-picker" data-target="logo2">
                  <div class="positioner">
                    <span class="icons">C</span>
                    <strong>Add Logo</strong>
                  </div>
                </a>
            </em>
      </label>
    </div>

</div><!--logo-->