<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to the AFSCME Toolkit, <%= @user.name %></h1>
    <p>
      You have successfully signed up, but your account must be approved by an administrator. You should receive an email with an updated status in the next 24-48 hours.
    </p>
    <p>Thanks for joining!</p>
  </body>
</html>