<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>A new account has been created in the AFSCME Toolkit for <%= @user.name %></p>
    <p>
      This user will not be able to use the Toolkit until an Administrator or Vetter approves their new account.
    </p>
    <p>To approve or reject this account:<p>
      <ul>
        <li>Log into the <a href="http://toolkit-app.afscme.bytrilogy.com">Toolkit</a> with your admin account.</li>
        <li>Visit the <%= link_to "user's account page" admin_edit_user_path(@user) %> and either approve or reject the user.</li>
      </ul>
    <p>You can also see a list of all pending (non-approved) accounts <%= link_to "here", admin_applications_path %>.</p>
  </body>
</html>