<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>New Accounts Waiting for Approval</h1>
    <p>
      The following accounts were created more than 48 hours ago and are waiting for approval. Please click on a user name below to approve or deny their account.</p>
    </p>

    <ul>
    	<% @unapproved.each do | user | %>
    	<li><%= link_to user.name, edit_admin_user_url(user) %></li>
    	<% end %>
    </ul>
  </body>
</html>