<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Your request has been declined</h1>
    <p>
      Your request for access to the AFSCME Toolkit has been declined by an administrator. If you have questions about this decision, please send an email to 'administrators@toolkit.afscme.org'.
    </p>
  </body>