<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Your account is no longer active</h1>
    <p>
      Your AFSCME Toolkit access has been suspended by an administrator. If you have questions about this decision, please send an email to 'administrators@toolkit.afscme.org'.
    </p>
  </body>