<% content_for :breadcrumb_extras do %>
  <ol class="options cf">
    <li><a href="#" title="Save" data-save="true"><span class="icons">V</span> Save</a></li>
    <% unless @document.new_record? %>
      <li><%= link_to "<span class='icons'>c</span> Duplicate".html_safe, duplicate_document_path(@document), title: "Duplicate" %></li>
      <li><a href="/share" title="Share"><span class="icons">s</span> Share</a></li>
      <li><%= link_to "<span class='icons'>d</span> Download".html_safe, download_link(@document), data: {download: true} %></li>
      <li><%= link_to "<span class='icons'>x</span> Delete".html_safe, document_path(@document), method: :delete, confirm: "Are you sure?" %></li>
    <% end %>
  </ol>
<% end %>
