<div class="document">
  <%= link_to(
    "", 
    edit_document_path(document),
    class: "document-thumbnail",
    title: document.title,
    style: "background-image: url('#{document.template.thumbnail.url}');"
  ) %>

  <%= link_to(
      document.title,
      edit_document_path(document),
      class: "document-title",
      title: document.title 
  ) %>

  <ul class="options"> 
    <li>
      <a href="javascript:void(0);" title="Options" class="icons">+</a>
      <ol>
        <% case document.status %>
        <% when "trash" %>
          <%= render partial: "documents/menus/trash", locals: {document: document} %>
        <% else %>
          <%= render partial: "documents/menus/publish", locals: {document: document} %>
        <% end %>
      </ol>
    </li>
  </ul>
</div>
