<div class="document">
  <%= link_to(
    "", 
    edit_campaign_template_document_path(document.template.campaign, document.template, document),
    class: "document-thumbnail",
    title: document.title,
    style: "background-image: url('#{document.template.thumbnail.url}');"
  ) %>

  <%= link_to(
      document.title,
      edit_campaign_template_document_path(document.template.campaign, document.template, document),
      class: "document-title",
      title: document.title 
  ) %>

  <ul class="options"> 
    <li>
      <a href="javascript:void(0);" title="Options" class="icons">+</a>
      <ol>
        <li><a href="/view" title="View"><span class="icons">e</span> View</a></li>
        <li><a href="/duplicate" title="Duplicate"><span class="icons">c</span> Duplicate</a></li>
        <li><a href="/download" title="Download"><span class="icons">d</span> Download</a></li> 
      </ol>
    </li>
  </ul>
</div>
