<% content_for :title {"My Designs"} %>
<% if params[:action] == 'recent' %>
	<% breadcrumb :recent_documents %>
<% else %>
	<% breadcrumb :my_designs %>
<% end %>

<aside>
  <%= render partial: "documents/sidebar_nav" %>
</aside>

<% if @filtered_documents.count > 0 %>

<section class="workspace cf">
  <%= render @filtered_documents %>
</section>

<% else %>
	<% if @shared %>
		<p class="no-results">You have not had any documents shared with you.</p>
	<% else %>
		<p class="no-results">You have not created any documents of this type.</p>
	<% end %>
<% end %>