<div class="step grouping cf"> 
  <label for="first-name-custom">
    <h3>First name</h3>
    <input type="text" name="data[first_name]" data-persist-id="select_data[first_name]" data-custom="text" id="first-name-custom" value="" maxlength="200" />
  </label>
</div>

<div class="step grouping cf"> 
  <label for="last-name-custom">
    <h3>Last name</h3>
    <input type="text" name="data[last_name]" data-persist-id="select_data[last_name]" data-custom="text" id="last-name-custom" value="" maxlength="200" />
  </label>
</div>

<div class="step grouping cf"> 
  <label for="signator-name-custom">
    <h3>Signator name</h3>
    <input type="text" name="data[signator_name]" data-persist-id="select_data[signator_name]" data-custom="text" id="signator-name-custom" value="" maxlength="200" />
  </label>
</div>

<div class="step grouping cf"> 
  <label for="signator-title-custom">
    <h3>Signator title</h3>
    <input type="text" name="data[signator_title]" data-persist-id="select_data[signator_title]" data-custom="text" id="signator-title-custom" value="" maxlength="200" />
  </label>
</div>
