<div class="step grouping radio cf"> 
  <h3>Choose a Headline</h3>
  
  <div class="field"> 
      <input id="headline1" name="data[headline]" type="radio" value="YOUR VOICE MATTERS" />
      <label for="headline1">
        <div class="radio-button"></div>
        <strong>YOUR VOICE MATTERS</strong>
      </label>
  </div>

  <div class="field"> 
    <input id="headline4" data-custom="text" name="data[headline]" type="radio" />
    <label for="headline4">
        <div class="radio-button"></div>
        <strong>CREATE YOUR OWN</strong><br/>
        <small>Maximum of 100 characters. Please preview, since words may wrap unexpectedly and cutoff your headline.</small>
        <input type="text" name="headline-custom" id="headline4-custom" value="" maxlength="100" data-target="headline4" />
        <label for="headline-custom"></label>
    </label>
  </div>

</div>

<div class="step grouping cf"> 
  <h3>Set Body Text</h3>
        
  <div class="field"> 
    <label for="body3" class="hide">Set Body Text</label>
    <small>Maximum of 200 characters. Please preview, since words may wrap unexpectedly and cut off your headline.</small>
    <input class="bold" type="text" name="data[body_title]" data-custom="text" id="body-headline-custom" value="" placeholder="Headline" maxlength="200" />
    <textarea name="data[body_text]" data-custom="text" id="body-custom" placeholder="Your body text"></textarea>
  </div>
</div>

<div class="step grouping cf"> 
  <h3>Set Meeting Date &amp; Time</h3>
      
  <div class="field"> 
      <input id="meeting-time" name="meeting-time" type="radio" value="" />
      <label for="meeting-time"></label>
      <input type="text" name="data[meeting_day]" data-custom="text" id="meeting-time-day-custom" value="" placeholder="Meeting Day of Week" maxlength="200" class="required" />
      <input type="text" name="data[meeting_date]" data-custom="text" id="meeting-time-date-custom" value="" placeholder="Meeting Date" maxlength="200" />
      <input type="text" name="data[meeting_time]" data-custom="text" id="meeting-time-time-custom" value="" placeholder="Meeting Time" maxlength="200" />
  </div>
</div>

<div class="step grouping radio cf"> 
  <h3>Set Contact Information</h3>
  <div class="field"> 
    <input id="contact-info" name="contact-info" type="radio" value="" />
    <label for="contact-info"></label>
    <input type="text" name="data[contact_headline]" data-custom="text" class="bold" id="contact-info-headline-custom" value="" placeholder="Contact Headline" maxlength="200" />                          
    <input type="text" name="data[contact_line1]" data-custom="text" id="contact-info-line1-custom" value="" placeholder="Contact Line 1" maxlength="200" class="required" />
    <input type="text" name="data[contact_line2]" data-custom="text" id="contact-info-line2-custom" value="" placeholder="Contact Line 2" maxlength="200" />
    <input type="text" name="data[contact_line3]" data-custom="text" id="contact-info-line3-custom" value="" placeholder="Contact Line 3" maxlength="200" />
  </div>
</div>              

<div class="step grouping image-select cf"> 
    <h3>Choose a Never Quit logo</h3>

    <div class="field logo"> 
        <input id="nqlogo1" name="data[mf_logo]" type="radio" value="http://neverquit.afscme.org/toolkit/never-quit-sector-specific-flyer-custom/nqlogo/nq-logo-afscme.png" checked />
        <label for="nqlogo1">
          <div class="radio-button"></div>            
          <figure style="background-image: url(http://neverquit.afscme.org/theme/img/toolkit-nq-logo-afscme.png);"/></figure>
        </label>
    </div>
    
    <div class="field logo"> 
        <input id="nqlogo2" name="data[mf_logo]" type="radio" value="http://neverquit.afscme.org/toolkit/never-quit-sector-specific-flyer-custom/nqlogo/nq-logo.png" />
        <label for="nqlogo2">
          <div class="radio-button"></div>
          <figure style="background-image: url(http://neverquit.afscme.org/theme/img/toolkit-nq-logo.png);"/></figure>
        </label>
    </div>


</div>

<div class="step grouping image-select cf"> 
  <h3>Council/Affiliate Logo (optional)</h3>
    <div class="field upload"> 
        <input id="affiliate-logo" data-custom="image" name="data[mf_affiliate_logo]" type="radio" value="custom" />

        <label for="affiliate-logo">
           <figure href="javascript:void(0);" title="Add Photo" class="image-picker" data-target="affiliate-logo">
               <div class="positioner">
                   <span class="icons">C</span>
                   Add Image
               </div>
           </figure>
        </label>
    </div>
</div>
