<% content_for :title {"Admin: Edit Category: #{@category.title}"} %>
<% breadcrumb :admin_edit_category, @category %>

<section class="workspace cf">
  <%= render 'form', category: @category %>
</section>
