<% breadcrumb :admin_categories %>

<main class="clearfix">

	<section class="workspace metadata cf">
	
		<h1>Categories</h1>

		<div class="table">

     <div class="rows">
     
     		  <div class="row header">
            <div class="col one tag">Title</div>
            <div class="col one delete">Delete</div>
          </div><!--row header-->
          

          <% @categories.each do |category| %>
          <div class="row">
              <div class="col one tag"><%= link_to category.title, edit_admin_category_path(category) %></div>
              <div class="col one delete">
            		<div class="icons delete action-button"><%= link_to "X", admin_category_path(category), method:'DELETE' %></div>
            	</div>
          </div>
          <% end %>

      </div><!--rows-->            

    </div><!--table-->
    
		<div class="add-tag">
      <form title="add-tag" action="/admin/categories" method="POST" class="cf">
        <%= hidden_field_tag :authenticity_token, form_authenticity_token -%>
        <label>Add a new category</label>
        <input class="searchinput find-course" type="text" placeholder="Enter category" name="category[title]">
				<button class="button active">Add</button>
      </form>     
    </div><!--user-search-->
  
  </section><!--workspace-->
		    
</main>