<% content_for :title, "New Stock Image" %>
<% breadcrumb :new_stock_image %>

<section class="workspace cf">
    <%= render 'form', stock_image: @stock_image, url: new_admin_stock_image_path(@stock_image) %>
</section>
