<% content_for :title, "Image: #{@stock_image.image_file_name}" %>
<% breadcrumb :image, @stock_image %>

<p><b>URL: </b><%= @stock_image.image.url %></p>

<p><img width="500px;" src="<%= @stock_image.image.url %>" /></p>

<%= link_to 'Edit', edit_admin_stock_image_path(@stock_image) %> |
<%= link_to 'Back', admin_stock_images_path %>
