<div id="branding" class="grouping branding image-select radio cf"> 

    <h3>Choose Flyer Branding</h3>

    <div class="field logo"> 
        <input id="branding-afscme" name="data[mbf_branding]" type="radio" value="afscme" />
        <label for="branding-afscme">
           <div class="radio-button"></div>
           <figure style="background-image: url(http://toolkit-afscme.bytrilogy.com/theme/img/afscme-branding-thumb.png);"></figure>
        </label>
    </div>
    
    <div class="field logo"> 
        <input id="branding-csea" name="data[mbf_branding]" type="radio" value="csea" />
        <label for="branding-csea">
           <div class="radio-button"></div>
           <figure style="background-image: url(http://toolkit-afscme.bytrilogy.com/theme/img/csea-branding-thumb.png);"></figure>
        </label>
    </div>
    
</div><!--theme-->

<div class="step grouping cf"> 

    <h3>Bargaining Unit Title</h3>       

    <div class="field wide"> 
        <label for="workplace">
          <input type="text" name="data[bs_workplace]" id="workplace-custom" data-custom="text" value="Merced County Superiour Court" maxlength="100" />
        </label>
    </div>

</div><!--workplace-->

<div class="step twocol grouping cf"> 

    <h3>Categories for Ranking</h3>       
    <h4 class="grouping-title">Edit the ranking title</h4>

    <div class="field wide"> 
      <label for="improvement-title">
        <input type="text" name="data[bs_improvement_title]" id="improvement-title-custom" data-custom="text" value="What needs to be improved? (rank the following with 1 being most important)" maxlength="200" />
      </label>
    </div>

    <h4 class="grouping-title">Edit the ranking labels <small>(Delete text to remove field)</small></h4>

    <div class="table">
      <div class="col1">

          <div class="field wide"> 

              <label for="improvement-option1">
                <input type="text" name="data[bs_improvement_1]" id="improvement-option1-custom" data-custom="text" value="Pay, raises, cost of living" maxlength="100" />
              </label>
          </div>

          <div class="field wide"> 
              <label for="improvement-option2">
                <input type="text" name="data[bs_improvement_2]" id="improvement-option2-custom" data-custom="text" value="Healthcare, retirement, vacation" maxlength="100" />
              </label>
          </div>

          <div class="field wide"> 
              <label for="improvement-option3">
                <input type="text" name="data[bs_improvement_3]" id="improvement-option3-custom" data-custom="text" value="Hours of work" maxlength="100" />
              </label>
          </div>

          <div class="field wide"> 
              <label for="improvement-option4">
                <input type="text" name="data[bs_improvement_4]" id="improvement-option4-custom" data-custom="text" value="Training, career development, education" maxlength="100" />
              </label>
          </div>

          <div class="field wide"> 
              <label for="improvement-option5">
                <input type="text" name="data[bs_improvement_5]" id="improvement-option5-custom" data-custom="text" value="Respect and fairness" maxlength="100" />
              </label>
          </div>

          <div class="field wide"> 
              <label for="improvement-option6">
                <input type="text" name="data[bs_improvement_6]" id="improvement-option6-custom" data-custom="text" value="Work Load" maxlength="100" />
              </label>
          </div>

      </div>
      <div class="col2">

          <div class="field wide"> 
              <label for="improvement-option7">
                <input type="text" name="data[bs_improvement_7]" id="improvement-option7-custom" data-custom="text" value="" maxlength="100" />
              </label>
          </div>

          <div class="field wide"> 
              <label for="improvement-option8">
                <input type="text" name="data[bs_improvement_8]" id="improvement-option8-custom" data-custom="text" value="" maxlength="100" />
              </label>
          </div>

          <div class="field wide"> 
              <label for="improvement-option9">
                <input type="text" name="data[bs_improvement_9]" id="improvement-option9-custom" data-custom="text" value="" maxlength="100" />
              </label>
          </div>

          <div class="field wide"> 
              <label for="improvement-option10">
                <input type="text" name="data[bs_improvement_10]" id="improvement-option10-custom" data-custom="text" value="" maxlength="100" />
              </label>
          </div>

          <div class="field wide"> 
              <label for="improvement-option11">
                <input type="text" name="data[bs_improvement_11]" id="improvement-option11-custom" data-custom="text" value="" maxlength="100" />
              </label>
          </div>

          <div class="field wide"> 
              <label for="improvement-option12">
                <input type="text" name="data[bs_improvement_12]" id="improvement-option12-custom" data-custom="text" value="" maxlength="100" />
              </label>
          </div>

      </div>
    </div>
</div><!--workplace-->

<div class="step grouping cf"> 

    <h3>Yes/No Questions <small>(Delete text to remove field)</small></h3>       

    <div class="field wide"> 
        <label for="yes-no1">
          <input type="text" name="data[bs_yes_no_1]" id="yes-no1-custom" data-custom="text" value="Do you feel like management respects your work?" maxlength="200" />
        </label>
    </div>

    <div class="field wide"> 
        <label for="yes-no2">
          <input type="text" name="data[bs_yes_no_2]" id="yes-no2-custom" data-custom="text" value="Do you feel safe at work?" maxlength="200" />
        </label>
    </div>

    <div class="field wide"> 
        <label for="yes-no3">
          <input type="text" name="data[bs_yes_no_3]" id="yes-no3-custom" data-custom="text" value="Do you regularly work overtime in order to pay your bills?" maxlength="200" />
        </label>
    </div>

    <div class="field wide"> 
        <label for="yes-no4">
          <input type="text" name="data[bs_yes_no_4]" id="yes-no4-custom" data-custom="text" value="Do you work a second job?" maxlength="200" />
        </label>
    </div>

    <div class="field wide"> 
        <label for="yes-no5">
          <input type="text" name="data[bs_yes_no_5]" id="yes-no5-custom" data-custom="text" value="Are you interested in serving as a union bargaining team member (contract negotiator) or shop steward (contract expert)?" maxlength="200" />
        </label>
    </div>

</div><!--yes/no-->


<div class="step grouping cf"> 

    <h3>Open-ended question 1 <small>(Delete text to remove field)</small></h3>       

    <div class="field wide"> 
        <label for="long-answer1">
          <input type="text" name="data[bs_long_1]" id="long-answer1-custom" data-custom="text" value="What do you think could be done to improve the services we provide?" maxlength="300" />
        </label>
    </div>

</div><!--long-answer1-->

<div class="step grouping cf"> 

    <h3>Open-ended question 2 <small>(Delete text to remove field)</small></h3>       

    <div class="field wide"> 
        <label for="long-answer2">
          <input type="text" name="data[bs_long_2]" id="long-answer2-custom" data-custom="text" value="Please explain how safety and working conditions at your site or building/facility can be improved." maxlength="300" />
        </label>
    </div>

</div><!--long-answer2-->

<div class="step grouping cf"> 

    <h3>Open-ended question 3 <small>(Delete text to remove field)</small></h3>       

    <div class="field wide"> 
        <label for="long-answer3">
          <input type="text" name="data[bs_long_3]" id="long-answer3-custom" data-custom="text" value="Your ideas and input will help considerably to get a good contract. Please share below other issues you believe need to be covered in negotiations:" maxlength="300" />
        </label>
    </div>

</div><!--long-answer3-->


<div class="step grouping image-select pull-left cf"> 

    <h3>Add a Council/Affiliate Logo <small>(optional)</small></h3>

    <div class="field upload"> 
        <input id="logo2" data-custom="image" name="data[bs_affiliate_logo]" type="radio" value="custom" />

        <label for="logo2">
           <figure href="javascript:void(0);" title="Add Photo" class="image-picker logo" data-target="logo2">
               <div class="positioner">
                   <span class="icons">C</span>
                   Add Image
               </div>
           </figure>
        </label>

    </div>

</div><!--logo-->
