<div class="folder">
  <%= link_to campaign do %>
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 144 115" class="folder-icon">
      <path fill="#08A94E" d="M137.504 12.854h-67.13s-10.1-9.47-10.656-10.036C58.268 1.346 56.585 0 54.364 0H6.497C2.907 0 0 2.91 0 6.5V108.5C0 112.088 2.908 115 6.497 115h131.007c3.588 0 6.496-2.912 6.496-6.502V19.355c0-3.59-2.908-6.5-6.496-6.5z"/>
    </svg>
          
    <span class="folder-title"><%= campaign.title %></span>
  <% end %>
</div>
