<% content_for :title {"Campaigns"} %>
<% breadcrumb :campaigns %>

<aside>
  <%= render partial: "templates/sidebar_nav" %>
</aside>

<section class="workspace cf">
<%= render @campaigns %>
</section>
