<% breadcrumb :campaign, @campaign %>

<ul>
  <% @campaign.templates.each do |template| %>
    <li><%= link_to template.title, template_path(template) %></li>
  <% end %>
</ul>

<%= link_to 'New Template', new_template_path %><br />
<%= link_to 'Edit', edit_campaign_path(@campaign) %><br />
<%= link_to 'Back', campaigns_path %>
