<% breadcrumb :campaign, @campaign %>

<% if @campaign.templates.count > 0 %>

<aside>
  <%= render partial: "templates/sidebar_nav" %>
</aside>

<section class="workspace cf">
  <%= render @filtered_templates %>
</section>

<% else %>
	<p class="no-results">There are currently no templates available for this campaign.</p>
<% end %>