<% content_for :title {"Campaign: #{@campaign.title}"} %>
<% breadcrumb :campaign, @campaign %>

<aside>
  <%= render partial: "templates/sidebar_nav" %>
</aside>

<% if @campaign.templates.publish.count > 0 || @campaign.children.count > 0 %>
  <section class="workspace cf">
    <%= render @campaign.children.publish %>
    <%= render @filtered_templates %>
  </section>
<% else %>
	<p class="no-results">There are currently no templates or folders available for this campaign.</p>
<% end %>
