<div id="branding" class="grouping branding image-select radio cf"> 
  <h3>Choose Flyer Branding</h3>

  <div class="field logo"> 
    <input id="branding-afscme" name="data[branding]" type="radio" value="afscme" />
    <label for="branding-afscme">
      <div class="radio-button"></div>
      <figure style="background-image: url(http://toolkit-afscme.bytrilogy.com/theme/img/afscme-branding-thumb.png);"></figure>
    </label>
  </div>
    
  <div class="field logo"> 
    <input id="branding-csea" name="data[branding]" type="radio" value="csea" />
    <label for="branding-csea">
      <div class="radio-button"></div>
      <figure style="background-image: url(http://toolkit-afscme.bytrilogy.com/theme/img/csea-branding-thumb.png);"></figure>
    </label>
  </div>  
</div><!--theme-->

<div class="step grouping cf"> 
  <h3>Create a headline</h3>

  <div class="field radio wide"> 
    <label for="headline">
      <input value="Management Tricks and Lies" type="text" name="data[headline]" data-custom="text" id="headline-custom" value="" maxlength="75" placeholder="Headline" />
      <label for="headline-custom"></label>
      <small>Maximum of 75 characters. Please preview, since words may wrap unexpectedly and cutoff your headline.</small>
    </label>
  </div>  
</div><!--headline-->

<div class="step grouping cf"> 
  <h3>Row 1</h3>

  <div class="field radio wide"> 
    <label for="headline">
      <small>Column 1</small>
      <input value="&quot;This will take away money that goes to helping clients.&quot;" type="text" name="data[r1_c1]" data-custom="text" id="r1_c1-custom" maxlength="75" />
      <label for="r1_c1-custom"></label>
    </label>
  </div>
  <div class="field radio wide"> 
    <label for="headline">
      <small>Column 2</small>
      <input value="&quot;Unions aren't for professionals like you.&quot;" type="text" name="data[r1_c2]" data-custom="text" id="r1_c2-custom" maxlength="75" />
      <label for="r1_c2-custom"></label>
    </label>
  </div>
  <div class="field radio wide"> 
    <label for="headline">
      <small>Column 3</small>
      <input value="Top-level management comes around a lot more." type="text" name="data[r1_c3]" data-custom="text" id="r1_c3-custom" maxlength="75" />
      <label for="r1_c3-custom"></label>
    </label>
  </div>
  <div class="field radio wide"> 
    <label for="headline">
      <small>Column 4</small>
      <input value="A bad supervisor is replaced." type="text" name="data[r1_c4]" data-custom="text" id="r1_c4-custom" maxlength="75" />
      <label for="r1_c4-custom"></label>
    </label>
  </div>
  <div class="field radio wide"> 
    <label for="headline">
      <small>Column 5</small>
      <input value="&quot;This could put our funding at risk.&quot;" type="text" name="data[r1_c5]" data-custom="text" id="r1_c5-custom" maxlength="75" />
      <label for="r1_c5-custom"></label>
    </label>
  </div>
</div><!--Row 1-->

<div class="step grouping cf"> 
  <h3>Row 2</h3>

  <div class="field radio wide"> 
    <label for="headline">
      <small>Column 1</small>
      <input value="Mandatory staff meetings." type="text" name="data[r2_c1]" data-custom="text" id="r2_c1-custom" maxlength="75" />
      <label for="r2_c1-custom"></label>
    </label>
  </div>
  <div class="field radio wide"> 
    <label for="headline">
      <small>Column 2</small>
      <input value="&quot;We'll form a working group/committee.&quot;" type="text" name="data[r2_c2]" data-custom="text" id="r2_c2-custom" maxlength="75" />
      <label for="r2_c2-custom"></label>
    </label>
  </div>
  <div class="field radio wide"> 
    <label for="headline">
      <small>Column 3</small>
      <input value="&quot;The union could force you to strike.&quot;" type="text" name="data[r2_c3]" data-custom="text" id="r2_c3-custom" maxlength="75" />
      <label for="r2_c3-custom"></label>
    </label>
  </div>
  <div class="field radio wide"> 
    <label for="headline">
      <small>Column 4</small>
      <input value="&quot;The union cannot guarantee better benefits.&quot;" type="text" name="data[r2_c4]" data-custom="text" id="r2_c4-custom" maxlength="75" />
      <label for="r2_c4-custom"></label>
    </label>
  </div>
  <div class="field radio wide"> 
    <label for="headline">
      <small>Column 5</small>
      <input value="&quot;You will pay dues and may never get a contract.&quot;" type="text" name="data[r2_c5]" data-custom="text" id="r2_c5-custom" maxlength="75" />
      <label for="r2_c5-custom"></label>
    </label>
  </div>
</div><!--Row 2-->

<div class="step grouping cf"> 
  <h3>Row 3</h3>

  <div class="field radio wide"> 
    <label for="headline">
      <small>Column 1</small>
      <input value="&quot;You will lose wages and benefits.&quot;" type="text" name="data[r3_c1]" data-custom="text" id="r3_c1-custom" maxlength="75" />
      <label for="r3_c1-custom"></label>
    </label>
  </div>
  <div class="field radio wide"> 
    <label for="headline">
      <small>Column 2</small>
      <input value="&quot;The union just wants your money.&quot;" type="text" name="data[r3_c2]" data-custom="text" id="r3_c2-custom" maxlength="75" />
      <label for="r3_c2-custom"></label>
    </label>
  </div>
  <div class="field radio wide"> 
    <label>
      <small>Column 3: Free Space</small>
    </label>
  </div>
  <div class="field radio wide"> 
    <label for="headline">
      <small>Column 4</small>
      <input value="Offers of individual promotions or raises." type="text" name="data[r3_c4]" data-custom="text" id="r3_c4-custom" maxlength="75" />
      <label for="r3_c4-custom"></label>
    </label>
  </div>
  <div class="field radio wide"> 
    <label for="headline">
      <small>Column 5</small>
      <input value="&quot;Give us a second chance.&quot;" type="text" name="data[r3_c5]" data-custom="text" id="r3_c5-custom" maxlength="75" />
      <label for="r3_c5-custom"></label>
    </label>
  </div>
</div><!--Row 3-->

<div class="step grouping cf"> 
  <h3>Row 4</h3>

  <div class="field radio wide"> 
    <label for="headline">
      <small>Column 1</small>
      <input value="&quot;A union will come between you and clients.&quot;" type="text" name="data[r4_c1]" data-custom="text" id="r4_c1-custom" maxlength="75" />
      <label for="r4_c1-custom"></label>
    </label>
  </div>
  <div class="field radio wide"> 
    <label for="headline">
      <small>Column 2</small>
      <input value="&quot;We don't have to agree to what you want.&quot;" type="text" name="data[r4_c2]" data-custom="text" id="r4_c2-custom" maxlength="75" />
      <label for="r4_c2-custom"></label>
    </label>
  </div>
  <div class="field radio wide"> 
    <label for="headline">
      <small>Column 3</small>
      <input value="&quot;Union bosses make too much.&quot;" type="text" name="data[r4_c3]" data-custom="text" id="r4_c3-custom" maxlength="75" />
      <label for="r4_c3-custom"></label>
    </label>
  </div>
  <div class="field radio wide"> 
    <label for="headline">
      <small>Column 4</small>
      <input value="&quot;We may have to close or down-size.&quot;" type="text" name="data[r4_c4]" data-custom="text" id="r4_c4-custom" maxlength="75" />
      <label for="r4_c4-custom"></label>
    </label>
  </div>
  <div class="field radio wide"> 
    <label for="headline">
      <small>Column 5</small>
      <input value="Management suddenly becomes really friendly." type="text" name="data[r4_c5]" data-custom="text" id="r4_c5-custom" maxlength="75" />
      <label for="r4_c5-custom"></label>
    </label>
  </div>
</div><!--Row 4-->

<div class="step grouping cf"> 
  <h3>Row 5</h3>

  <div class="field radio wide"> 
    <label for="headline">
      <small>Column 1</small>
      <input value="Anti-union literature and propaganda." type="text" name="data[r5_c1]" data-custom="text" id="r5_c1-custom" maxlength="75" />
      <label for="r5_c1-custom"></label>
    </label>
  </div>
  <div class="field radio wide"> 
    <label for="headline">
      <small>Column 2</small>
      <input value="Unions protect lazy workers." type="text" name="data[r5_c2]" data-custom="text" id="r5_c2-custom" maxlength="75" />
      <label for="r5_c2-custom"></label>
    </label>
  </div>
  <div class="field radio wide"> 
    <label for="headline">
      <small>Column 3</small>
      <input value="&quot;You don't have a say in how the union operates.&quot;" type="text" name="data[r5_c3]" data-custom="text" id="r5_c3-custom" maxlength="75" />
      <label for="r5_c3-custom"></label>
    </label>
  </div>
  <div class="field radio wide"> 
    <label for="headline">
      <small>Column 4</small>
      <input value="&quot;We can't be flexible once you have a union.&quot;" type="text" name="data[r5_c4]" data-custom="text" id="r5_c4-custom" maxlength="75" />
      <label for="r5_c4-custom"></label>
    </label>
  </div>
  <div class="field radio wide"> 
    <label for="headline">
      <small>Column 5</small>
      <input value="&quot;We are a family. We can work out our problems.&quot;" type="text" name="data[r5_c5]" data-custom="text" id="r5_c5-custom" maxlength="75" />
      <label for="r5_c5-custom"></label>
    </label>
  </div>
</div><!--Row 5-->

<div class="step grouping image-select cf"> 
  <h3>Council/Affiliate Logo (optional)</h3>

  <div class="field upload"> 
    <input id="logo2" data-custom="image" name="data[affiliate_logo]" type="radio" value="custom" />

    <label for="logo2">
      <figure href="javascript:void(0);" title="Add Photo" class="image-picker logo" data-target="logo2">
        <div class="positioner">
          <span class="icons">C</span>
          Add Image
        </div>
      </figure>
    </label>
  </div>
</div><!--nqlogo-->
