<p>Hello <%= @resource.name %>!</p>

<p>A request has been initiated to change or set your password for the AFSCME Toolkit.</p>

<p>This request can happen for two reasons:</p>
<ol>
	<li>An administrator has recently approved your account application.</li>
	<li>Or you manually began the "Reset Your Password" process on the AFSCME Toolkit application.</li>
</ol>

<p>Either way, you can <%= link_to 'create or change your password here', edit_password_url(@resource, reset_password_token: @token) %>.</p>

<p>If you didn't request this change or otherwise feel you have received it in error, please ignore this email.</p>