<section class="breadcrumbs">
	<div class="crumbs">
		<%= link_to "Manage Users", admin_users_path, title: "Manage Users" %>
		<%= link_to 'View New Applications', admin_applications_path, class: "active" %>
	</div><!--crumbs-->
</section>