<div class="row header">
  <div class="col one name">Name</div>
  <div class="col one affiliate-council">Affiliate/Council</div>
  <div class="col one local">Local</div>
  <div class="col one title">Department</div>
  <div class="col one date-submitted">Date Submitted</div>
</div><!--row header-->