<% breadcrumb :edit_user, @user %>

<main class="clearfix">
  <section class="workspace cf">
   <%= form_for(@user, url: admin_user_path(@user), html: { method: :put, class: 'profile-form edit-form split cf'}) do |f| %>

		<%= render partial: "admin/users/form", locals: {f: f} %>
    
    <div class="buttons cf">
      <%= f.submit "Save Changes", class: 'button save' %>
    </div>

          
   <% end %>

  </section><!--workspace-->
      
</main>