<%= render partial: "admin/users/admin_breadcrumbs" %>

<main class="clearfix">
	<section class="workspace cf">
		<h1>Toolkit Users</h1>

		<div class="table">
	     <div class="rows">
	      <div class="row header">
	        <div class="col one name">Name</div>
	        <div class="col one affiliate-council">Affiliate/Council</div>
	        <div class="col one local">Local</div>
	        <div class="col one title">Title</div>
	        <div class="col one date-submitted">Date Submitted</div>
	      </div><!--row header-->
	      
	      <% @users.each do |user| %>
	      	<%= render partial: "admin/users/user_row", locals: {user: user} %>
	      <% end %>
	   </div><!--rows-->            
	  </div><!--table-->     

	</section><!--workspace--> 
</main>