<% unless @image.new_record? %>
  <% content_for :breadcrumb_extras do %>
    <ol class="options cf">
      <li>
        <%= link_to(
          "<span class='icons'>x</span> Delete".html_safe, 
          trash_image_path(@image),
          method: :patch, 
          data: {confirm: "Are you sure that you want to move this image to the trash?"}
        ) %>
      </li>
    </ol>
  <% end %>
<% end %>