<div id="image-picker" class="" style="display: none;">
  <button class="image-picker_close close icons">X</button>
  <h2>Select an Image</h2>

  <section class="image-grid cf" data-loaded="false">
    Loading. Please wait...
  </section>

  <div class="buttons small cf">
    <button value="Add Image" class="save" id="add_image_button" disabled="disabled">Add Image</button>
  </div>

  <section class="upload-image">
    <h3>Upload an Image</h3>

    <%= form_tag("#", id: "upload-photo-form", class: "dropzone", multipart: true) do %>
      <%= hidden_field_tag "image[creator_id]", User.current_user.id %>
        <div class="fallback">
          <%= file_field_tag "image[image]" %>
        </div>
    <% end %>

    <div id="image-error"></div>
  </section>

  <section class="crop-image" style="display:none;">
    <h3>Crop the Image</h3>
    Loading. Please wait...
  </section>
</div>
