<%= form_for image, html: { multipart: true }, html: { class: 'profile-form edit-form split cf'} do |f| %>
  <%= render partial: "/shared/errors", locals: {record: image} %>

  <p>Select image for uploading.</p>
  <div>
    <%= f.file_field :image %>
  </div>

  <div class="buttons small cf">
    <%= f.submit 'Upload Image', class: 'button save' %>
  </div>
<% end %>
