<div id="image-picker" class="" style="display: none;">
  <button class="image-picker_close close icons">X</button>
  
  <%= render partial: "images/modal/select_image" %>
  <%= render partial: "images/modal/upload_image" %>
  <%= render partial: "images/modal/crop_image" %>
</div>
