<% content_for :title, "Edit Image: #{@image.image_file_name}" %>
<% breadcrumb :edit_image, @image %>
<%= render partial: "images/breadcrumb_extras" %>

<section class="workspace cf">
  <%= render 'form', image: @image %>
</section>
