<% breadcrumb "#{params[:action]}_images".to_sym %>

<aside>
  <%= render partial: "images/nav" %>  
</aside>

  <section class="workspace cf">
    <section class="image-grid cf">
    <%= render @images %>
  </section>

</section>
