<% content_for :title, "Images" %>
<% breadcrumb "#{params[:action]}_images".to_sym %>
<% content_for :breadcrumb_extras do %>
  <ol class="options cf">
    <%= link_to "<span class='icons'>C</span> Upload Photo".html_safe, new_image_path %>
  </ol>
<% end %>

<aside>
  <%= render partial: "images/sidebar_nav" %>  
</aside>

  <section class="workspace cf">
    <section class="image-grid cf">
    <% if @images.count > 0 %>
    	<%= render @images %>
    <% else %>
    	<p class="no-results">You have not <%= link_to 'uploaded', new_image_path %> any images yet.</p>
    <% end %>
  </section>

</section>
