<% content_for :title {"Image: #{@image.image_file_name}"} %>
<% breadcrumb :image, @image %>

<p><b>URL: </b><%= @image.image.url %></p>

<p><img src="<%= @image.image.url %>" /></p>

<%= link_to 'Edit', edit_image_path(@image) %> |
<%= link_to 'Back', images_path %>
