<% content_for :title {"Trashed Images"} %>
<% breadcrumb :trashed_images %>

<aside>
  <%= render partial: "images/sidebar_nav" %>  
</aside>

<section class="workspace cf">
  <section class="image-grid cf">
    <% if @trashed.count > 0 %>
      <%= render @trashed %>
    <% else %>
      <p class="no-results">There are no images in the trash.</p>
    <% end %>
  </section>
</section>
