<ol class="options cf">      
  <!--li><a href="/users/password/edit" title="Change Password"><span class="icons">L</span> Change Password</a></li-->
  <li><%= link_to "<span class='icons'>L</span> Change Password".html_safe, password_path %></li>       
</ol>
