<div id="logo">
  <img src="http://toolkit.afscme.bytrilogy.com/theme/img/toolkit-logo.svg" alt="AFSCME Toolkit" itemprop="logo"/>
</div>

<main>
  <p class="feedback">Your application for access has been submitted.<br>An administrator will contact you shortly.</p>      
</main>